</a><h2>Le projet SysLinux</h2>
<p>
SysLinuxProject comprend plusieurs logiciel, notamment:
<ul>
	<li>sysLinux: logiciel éponyme qui fonctionne sous 2 modes:
	<ul>
		<li>installe le bootloader à la racine d'un disque (mbr ou partition). Disque au format fat32! Il autodetecte les systèmes installés.</li>
		<li>bootloader: est un équivalent à grub: propose un menu pour sélectionner le système à démarrer (Linux, Windows,etc).</li>
	</ul>
	</li>
	<li>isoLinux: installe syslinux sur un cdrom (et le rend bootable)</li>
	<li>extinux: installe syslinux sur un disque dur (ou clef usb) au format ext2</li>
	<li>pxeLinux: service réseau qui permet de booter à partir du réseau.</li>
</ul>

Le paquet syslinux comporte aussi des programmes(modules) de bas niveau
<ul>
	<li>menu.c32: permet un affichage graphique du menu</li>
	<li>memTest: vérifie la mémoire</li>
	<li>Harward Detection Tool (HDT: analyse précise du matériel</li>
	<li>memdisk: émule un périphérique (floppy,CDROM,DD) pour le PC et monte une image contenant un système de fichier de même type(.img) en mémoire</li>
</ul>


Références:
<ul>
	<li><a href="http://www.syslinux.org">http://www.syslinux.org</a></li>
	<li><a href="http://man7.org/linux/man-pages/man4/initrd.4.html">intrd</a></li>
</ul>
</p>

