<h2>Personalisation d'une image - debconf -predefinir des reponses</h2>
<p>
Les actions pour parametrer debconf sont a ecrire dans un fichier dans config/chroot_local-preseed/<br>
<div class="noteclassic">Ex: ./config/chroot_local-preseed/ contient<br>
<pre class="coding_file">debconf passwd/user-default-groups string audio cdrom dialout floppy video plugdev netdev powerdev fuse</pre>
!!! Commande à verifier !!!
</div>
</p>


