<h2>Personalisation d'une image - les hooks</h2>
<p>
Les hooks sont des scripts type shell lanc&eacute;s apres toutes les autres etapes . Cela permet une personalistion queles autres etapes ne peuvent faire.<br>

<div class="noteclassic">
Exemple de script issue de /usr/share/live/build/examples/hooks<br>
$ nano all_chroot_hal-automount.sh:
<pre class="coding_file">
#!/bin/sh
# This is a hook for live-build(7) to enable automaunting with hal for block devices.
#
# To enable it, copy or symlink this hook into your config/chroot_local-hooks
# directory.
# Remove automount disabling
rm -f /usr/share/hal/fdi/policy/10osvendor/debian-storage-policy-fixed-drives.fdi
# Use ntfs-3g by default to mount ntfs partitions
if [ -x /usr/bin/ntfs-3g ]
then
        rm -f /sbin/mount.ntfs
        ln -s /usr/bin/ntfs-3g /sbin/mount.ntfs
fi
</pre>
</div>
</p>

<h3>hooks sur le binaire(support)</h3>
<p>Les scripts sont a plac&eacute;s dans le repertoire ./config/binary_local-hooks.<br>
Ces scripts sont lanc&eacute;s apres toutes les autres actions binaires mais avant binary_checksums 
</p>

<h3>hooks au moment du boot du live</h3>
<p>Il faut utiliser le paquet live-config (aptitude install live-config)</p>

<h3>hooks dans le live</h3>
<p>Les scripts sont a plac&eacute;s dans le repertoire config/chroot_local-hooks/.<br>
Ils sont executer apres toutes autres actions.<br>
Ex: ajouter l'utilisateur exisant user dans le groupe existant fuse: config/chroot_local-hooks/ajouterGroupe.sh
<pre class="coding_file">#!/bin/bash
adduser user fuse</pre>
</p>
