<h2>copier ou graver l'image sur le support</h2>

<h3>monter l'image dans un répertoire (pour test)</h3>
<pre class="coding_root">mount -o loop -t iso9660 binary.iso /mnt/iso</pre>
<div class="noteclassic">créer le prépertoire le repertoire de (destination si neccessaire) "mkdir -p /mnt/iso"<br>
pour le démonter: "umount /mnt/iso".
</div>

<h3>graver sur cd</h3>
<p>
Votre image doit forcement être au format iso. Dans le logiciel de gravure (brasero,k3b,etc) utiliser la commande graver un iso.
</p>
<p>
<h4>Logiciel de gravage en mode texte: wodim</h4>
<b>Installation</b><pre class="coding_root">aptitude install wodim</pre>
<b>copie de l'image sur le cd/dvd</b><pre class="coding_user">wodim binary.iso</pre>
</p>

<h3>copier sur un disque (disque dur/ usb)</h3>
<p>
Votre image peut être au format img (lb config -b usb-hdd) ou iso (mais dans ce cas ne sera plus un iso).
<div class="noteimportant">l'operation détruira toutes les données du disque!</div>
Copie(binaire) de l'image sur le disque:<br>
<pre class="coding_user">
dd if=binary.img of=/dev/sdb
</pre>
<div class="noteimportant">La destination est bien le disque entier (/dev/sdb) et non une partition(/dev/sdb1)</div>
Pour connaitre la référence du périphérique (disque); Plusieurs solutions:
<pre class="coding_root">blkid
lsblk</pre>

<div class="notetip">
Code pour créer une partition dans l'espace libre d'un support (par exemple la meme clef usb que l'image):
<pre class="coding_root"> ??? à retrouver!</pre>
</div>

<h3>NetBoot: chargement de l'image sur un serveur distant</h3>
<p>
Un fichier construit aux formats iso ou .img ne peut être lancé avec PXELinux, il faut soit extraire les fichiers vmlinuz(2) initrd(2) et filesystem.squashfs ou construite au format 'usb-hdd qui va les rendre directement accessible. Ensuite vous trouverez la syntaxe pour la lancer via pxelinux sur la 
<a href="?page=tutoriels&tutoriels=bootLoader&bootLoader=SYSLinuxProject&sysLinuxProject=SYSLinux&SYSLinux=runImages&SYSLinux_runImages=accueil&#fetch">page</a> dédié.
</p>
