<h3>Exemple de Menu avec sous menu</h3>
<p>

<div class="note">Cette syntaxe est ancienne SYSLINUX > 3.62</div>
<pre class="coding_file">
Directory Structure:
    /tftpboot/
    /tftpboot/memdisk
    /tftpboot/pxelinux.0
    /tftpboot/menu.c32
    
    /tftpboot/pxelinux.cfg/
    /tftpboot/pxelinux.cfg/default
    /tftpboot/pxelinux.cfg/graphics.conf
    /tftpboot/pxelinux.cfg/fixes.menu
    /tftpboot/pxelinux.cfg/setup.menu
    
    /tftpboot/TRK/
    /tftpboot/TRK/chkdsk.trk
    /tftpboot/TRK/initrd.trk
    /tftpboot/TRK/kernel.trk
    
    /tftpboot/Memtest/memtest.x86
    
    /tftpboot/Suse/
    /tftpboot/Suse/initrd92
    /tftpboot/Suse/linux92
    
    /tftpboot/Floppy/
    /tftpboot/Floppy/kbfloppy.img
    
/tftpboot/pxelinux.cfg/default
    default menu.c32
    prompt 0
    
    menu title PXE Special Boot Menu
    menu INCLUDE pxelinux.cfg/graphics.conf
    MENU AUTOBOOT Starting Local System in # seconds
    
    label bootlocal
      menu label ^Boot Point of Sale
      menu default
      localboot 0
      timeout 80
      TOTALTIMEOUT 9000
    
    LABEL Fixes Menu
      MENU LABEL ^Fixes Menu
      KERNEL menu.c32
      APPEND pxelinux.cfg/graphics.conf pxelinux.cfg/fixes.menu
            
    LABEL Setup Menu
      MENU LABEL ^Setup Menu
      KERNEL menu.c32
      APPEND pxelinux.cfg/graphics.conf pxelinux.cfg/setup.menu
    
/tftpboot/pxelinux.cfg/graphics.conf
    menu color tabmsg 37;40      #80ffffff #00000000
    menu color hotsel 30;47      #40000000 #20ffffff
    menu color sel 30;47      #40000000 #20ffffff
    menu color scrollbar 30;47      #40000000 #20ffffff
    MENU MASTER PASSWD yourpassword
    MENU WIDTH 80
    MENU MARGIN 22
    MENU PASSWORDMARGIN 26
    MENU ROWS 6
    MENU TABMSGROW 15
    MENU CMDLINEROW 15
    MENU ENDROW 24
    MENU PASSWORDROW 12
    MENU TIMEOUTROW 13
    MENU VSHIFT 6
    MENU PASSPROMPT Enter Password:
    NOESCAPE 1
    ALLOWOPTIONS 0
   
Set ALLOWOPTIONS to 1 if you want to be able to edit any of the entries while booted with PXE on the menu system. If you might want that for testing but once its final I like it set to 0. Also set NOESCAPE to 0 for the same reasons.

/tftpboot/pxelinux.cfg/fixes.menu
    MENU TITLE Fixes Menu
    
    LABEL Main Menu
      MENU LABEL ^Return to Main Menu
      KERNEL menu.c32
      APPEND pxelinux.cfg/default
    
    label fsck
      menu label ^File system check
      kernel TRK/kernel.trk
      append initrd=TRK/chkdsk.trk ramdisk_size=32768 root=/dev/ram0 vga=0
    
    label memtest
      menu label ^Memory Test: Memtest86+ v1.65
      kernel Memtest/memtest.x86
    
    label trk3
      menu label ^Trinity Rescue Kit
      kernel TRK/kernel.trk
      append initrd=TRK/initrd.trk ramdisk_size=32768 root=/dev/ram0 vga=0 trknfs=IPADDR:/trk ip=::::::dhcp splash=verbose

/tftpboot/pxelinux.cfg/setup.menu
    MENU TITLE Setup Menu
    
    LABEL Main Menu
      MENU LABEL ^Return to Main Menu
      KERNEL menu.c32
      APPEND pxelinux.cfg/default
    
    label setupkb
      menu label ^Any floppy disk image
      kernel memdisk
      append initrd=Floppy/kbfloppy.img
    
    label linux
      MENU PASSWD yourpassword
      menu label Install - ^Classic
      kernel Suse/linux92
      append initrd=Suse/initrd92 ramdisk_size=65536 vga=0 textmode=1 install=http://IPADDR serverdir=/9.2/install
autoyast=http://IPADDR/9.2/scripts/ay92.xml
    
    label trkclone
      MENU PASSWD yourpassword
      menu label Install - ^Faster
      kernel TRK/kernel.trk
      append initrd=TRK/initrd.trk ramdisk_size=65536 root=/dev/ram0 vga=0 install=Y trknfs=IPADDR:/trk
ip=::::::dhcp splash=verbose
    
    label linuxfull
      MENU PASSWD yourpassword
      menu label Install - ^Developer
      kernel Suse/linux92
      append initrd=Suse/initrd92 ramdisk_size=65536 vga=0 textmode=1 install=http://IPADDR serverdir=/9.2/install 
autoyast=http://IPADDR/9.2/scripts/develdesktop.xml
</pre></p>


