<a href="http://ubuntuforums.org/archive/index.php/t-2020351.html">source</a>

<h3>debian Live</h3>
<h4>current (squeeze) live-386 chargement via pxe( et web?)</h4>
<pre >
label squeeze-live-386-par-web
	menu label squeeze live-386-web
	kernel images/debian-live-6.0.7-i386-gnome-desktop.vmlinuz2
	append boot=live config union=aufs noswap fetch=http://cdimage.debian.org/debian-cd/current-live/i386/web/debian-live-6.0.7-i386-gnome-desktop.squashfs
	initrd images/debian-live-6.0.7-i386-gnome-desktop.initrd2.img 
</pre>
liens pour <a href="http://cdimage.debian.org/debian-cd/current-live/i386/webboot/">.vmlinuz2,.initrd2.img,.squashfs</a><br>

<h4>live-386 chargement via pxe et net</h4>
<pre>
label debian-live-386-par-net
	menu label debianlive-386-net
	kernel ?
	append boot=live config union=aufs noswap vga=788 
	initrd ?
</pre>
liens pour <a href="http://cdimage.debian.org/debian-cd/current-live/i386/net/">.tar.gz (net)</a><br>
ex: debian-live-6.0.7-i386-gnome-desktop-net.tar.gz<br>
A TESTER!<br>



<hr>
<h3>NetInstall</h3>
<h4>debian netInstall-386 chargement via pxe</h4>
<pre>
label squeeze-netInstall-386-
	menu label squeeze live-386-net
	kernel images/linux
	append boot=live config union=aufs noswap vga=788 
	initrd images/initrd.gz
</pre>

<a href="http://ftp.fr.debian.org/debian/dists/stable/main/installer-i386/current/images/netboot/gtk/debian-installer/i386/">stable(squeeze)	linux,	initrd.gz</a><br>

<a href="http://ftp.fr.debian.org/debian/dists/testing/main/installer-i386/current/images/netboot/gtk/debian-installer/i386/">testing(wheezy)	linux,	initrd.gz</a><br>

<hr>
<h2>UBUNTU</h2>
kernel: linux<br>
initrd:initrd.gz<br>
<ul>
	<li><a href="http://fr.archive.ubuntu.com/ubuntu/dists/oneiric/main/installer-i386/current/images/netboot/ubuntu-installer/i386/">fr.archive.ubuntu.com: oneiric installeur</a></li>
</ul>

<hr>
<h2>CentOS </h2>
<h3>CentOS - live </h3>
<h4>CentOS live chargement via pxe</h4>
<pre>
label CentOS _live
	menu label CENTOS live
	kernel images/vmlinuz
	append boot=live config union=aufs noswap vga=788 
	initrd images/initrd.img
</pre>

<pre>
LABEL CentOS 5 x86 NO KS eth0
        MENU LABEL CentOS 5 x86 NO KS eth0
        KERNEL images/centos/5/x86/vmlinuz
        APPEND ks initrd=images/centos/5/x86_64/initrd.img ramdisk_size=100000 ksdevice=eth1 ip=dhcp url --url http://xxx.xxx.xxx.xxx/mirrors/CentOS-5-i386/
</pre>

<pre>
LABEL CentOS 5 x86_64 NO KS eth0
        MENU LABEL CentOS 5 x86_64 NO KS eth0
        KERNEL images/centos/5/x86_64/vmlinuz
        APPEND ks initrd=images/centos/5/x86_64/initrd.img ramdisk_size=100000 ksdevice=eth1 ip=dhcp url --url http://xxx.xxx.xxx.xxx/mirrors/CentOS-5-x86_64/
</pre>


Référence: <a href="http://wiki.centos.org/HowTos/PXE/PXE_Setup/Menus">centOS via pxe</a>
<ul>
	<li><a href="http://mirror.centos.org/centos/6.4/os/i386/images/pxeboot/">mirror.centos.org: v6.4 i386 live</a></li>
	<li><a href="http://mirror.centos.org/centos/6.4/os/x86_64/images/pxeboot/">mirror.centos.org: v6.4 x64 live</a></li>
	<li><a href="http://mirror.centos.org/centos/6.4/os/i386/images/install.img">mirror.centos.org: v6.4 installeur(install.img)</a></li>

	<li><a href="http://www.pendrivelinux.com/make-a-usb-boot-cd-for-ubuntu-9-10/#more-2681">lancer des ubuntus selon la version</a></li>
</ul>

<hr>
notes:<br>
<i> append initrd=initrd.img boot=live config union=aufs noswap noprompt vga=788 fetch=http://$webserverIP/filesystem.squashfs</i><br>

kernel: linux<br>
initrd:initrd.gz<br>
<ul>
	<li><a href=http://ftp.fr.debian.org/debian/dists/stable/main/installer-i386/current/images/netboot/debian-installer/i386/">mirrors.kernel.org: stable installeur  i386</a></li>
	<li><a href=http://ftp.fr.debian.org/debian/dists/testing/main/installer-i386/current/images/netboot/debian-installer/i386/">mirrors.kernel.org: testing installeur i386</a></li>

	<li><a href="http://ftp.fr.debian.org/debian/dists/squeeze/main/installer-i386/current/images/netboot/debian-installer/i386/">ftp.fr.debian.org: squeeze installeur i386</a></li>

	<li><a href=http://ftp.fr.debian.org/debian/dists/wheezy/main/installer-i386/current/images/netboot/debian-installer/i386/">ftp.fr.debian.org: 	wheezy installeur i386</a></li>

</ul>


<pre>
label unetbootindefault
menu label Default
kernel /ubnkern
append initrd=/ubninit file=/cdrom/preseed/ubuntustudio.seed boot=casper quiet splash --

label ubnentry0
menu label ^Help
kernel /ubnkern
append initrd=/ubninit

label ubnentry1
menu label ^Try Ubuntu Studio without installing
kernel /casper/vmlinuz
append initrd=/casper/initrd.lz file=/cdrom/preseed/ubuntustudio.seed boot=casper quiet splash --

label ubnentry2
menu label ^Install Ubuntu Studio
kernel /casper/vmlinuz
append initrd=/casper/initrd.lz file=/cdrom/preseed/ubuntustudio.seed boot=casper only-ubiquity quiet splash --

label ubnentry3
menu label ^Check disc for defects
kernel /casper/vmlinuz
append initrd=/casper/initrd.lz boot=casper integrity-check quiet splash --

label ubnentry4
menu label Test ^memory
kernel /install/mt86plus
append initrd=/ubninit

label ubnentry5
menu label ^Boot from first hard disk
kernel /ubnkern
append initrd=/ubninit

label ubnentry6
menu label Try Ubuntu Studio without installing
kernel /casper/vmlinuz
append initrd=/casper/initrd.lz file=/cdrom/preseed/ubuntustudio.seed boot=casper quiet splash --

label ubnentry7
menu label Install Ubuntu Studio
kernel /casper/vmlinuz
append initrd=/casper/initrd.lz file=/cdrom/preseed/ubuntustudio.seed boot=casper only-ubiquity quiet splash --

label ubnentry8
menu label Check disc for defects
kernel /casper/vmlinuz
append initrd=/casper/initrd.lz boot=casper integrity-check quiet splash --

<hr>
http://thr3ads.net/syslinux/2013/01/2169462-gpxe-ubuntu-vmlinuz-boot-live-fetch-http

label quantal-live
        menu label Ubuntu Live ^CD
        kernel quantal/ubuntu-desktop/casper/vmlinuz
        append ipv6.disable=1.lz boot=casper toram netboot=nfs nfsroot=<HOST>:/var/www/install/quantal/ubuntu-desktop quiet keyboard-configuration/layoutcode=de
        initrd quantal/ubuntu-desktop/casper/initrd



</pre>