﻿<h2>User Interface: de la couleur dans le texte!</h2>

<h3>mode menu.c32</h3>
<ul>
	<li>valeur par défaut d'un élément, il suffit de mettre le caractère <code>*</code>.</li>
	<li>Les codes couleurs, en hexadécimal, sont codés comme suit: <code>#aa<span style="color:red">rr</span><span style="color:green">vv</span><span style="color:blue">bb</span></code>
	<ul>
		<li><code>aa</code> : opacité</li>

		<li><span style="color:red">rr</span> : rouge</li>
		<li><span style="color:green">vv</span> : vert</li>
		<li><span style="color:blue">bb</span> : bleu</li>
	</ul>
	</li>
</ul>

<p>Les informations complètes se trouvent dans le fichier <code>README.menu</code> de l'archive SysLinux (à mettre en annexe)</p>


<pre class="coding_file">
#<code><span class="keyword">menu color</span> <span class="parametre">élément code-caractères-ansi couleur-avant-plan couleur-arrière-plan ombrage-texte</span></code></p>
<span class="keyword">menu color screen</span>	<span class="parametre">*                #90<span style="color:red">ff</span><span style="color:green">ff</span><span style="color:blue">ff</span>           #00<span style="color:red">00</span><span style="color:green">00</span><span style="color:blue">00</span>           *</span>
<span class="keyword">menu color border</span>	<span class="parametre">*                #ff6bff6b           #00000000           *</span>

<span class="keyword">menu color title</span>	<span class="parametre">*                #ffffffff           #00000000           *</span>

<span class="keyword">menu color unsel</span>	<span class="parametre">*                #90ffffff           #00000000           *</span>
<span class="keyword">menu color hotkey</span>	<span class="parametre">*                #ff6bff6b           #00000000           *</span>

<span class="keyword">menu color sel</span>		<span class="parametre">*                #e0ffffff           #200cd22d           *</span>
<span class="keyword">menu color hotsel</span>	<span class="parametre">*                #e06bff6b           #200cd22d           *</span>

<span class="keyword">menu color scrollbar</span>	<span class="parametre">*                #200cd22d           #00000000           *</span>

<span class="keyword">menu color tabmsg</span>	<span class="parametre">*                #60ffffff           #00000000           *</span>

<span class="keyword">menu color cmdmark</span>	<span class="parametre">*                #c000ffff           #00000000           *</span>
<span class="keyword">menu color cmdline</span>	<span class="parametre">*                #c0ffffff           #00000000           *</span>

<span class="keyword">menu color pwdborder</span>	<span class="parametre">*                #ff6bff6b           #200cd22d           *</span>
<span class="keyword">menu color pwdheader</span>	<span class="parametre">*                #ffffffff           #200cd22d           *</span>
<span class="keyword">menu color pwdentry</span>	<span class="parametre">*                #90ffffff           #200cd22d           *</span>

<span class="keyword">menu color timeout_msg</span> 	<span class="parametre">*                #80ffffff           #00000000           *</span>
<span class="keyword">menu color timeout</span>	<span class="parametre">*                #c0ffffff           #00000000           *</span>
</pre>




<h3>Références:</h3>
<p>
<ul>
	<li><a target="site_exterieur" href="http://www.syslinux.org/wiki/index.php/Comboot/menu.c32">http://www.syslinux.org/wiki/index.php/Comboot/menu.c32</a></li>

	<li><a target="site_exterieur" href="annexe">README.menu</a>(à mettre en annexe)</li>
</ul>
</p>