<style>
.paramPXE{color:red;text-weight:bold;}
</style>

<h2>dhcpd</h2>

<h3>Configuration de dhcpd</h3>
<p>
<span class="coding_file filename">/etc/default/isc-dhcp-server</span> et <span class="coding_file filename">/etc/dhcp/dhcpd.conf</span>
</p>

<h3>installation, configuration, (re)démarrage</h3>
<pre class="coding_root">aptitude install isc-dhcp-server</pre>

Démarrer/Arrêter le service:<pre class="coding_root">/etc/init.d/isc-dhcp-server start
/etc/init.d/isc-dhcp-server stop
</pre>


<h3>Configuration générale:</h3>
Le Port 67/udp doit être ouvert et accessible aux clients (firewall).<br>

<span class="coding_filename">/etc/dhcp/dhcpd.conf</span>
<pre class="coding_file">
subnet 192.168.1.0 netmask 255.255.255.0 {
	<span class="keyword">#authoritarive</span>;	#important ne doit pas être présent ou doit être commenté sinon ce serveur sera prioritaire (et pas la box)
	<span class="keyword">range</span> <span class="parametre">192.168.1.150 192.168.1.160</span>:	#important ne doit pas entrer en conflit avec un autre serveur dhcp
	<span class="keyword">option subnet-mask</span> <span class="parametre">255.255.255.0</span>;
	default-lease-time <span class="parametre">3600</span>;
	max-lease-time <span class="parametre">4800</span>;
	<span class="keyword">option routers</span> <span class="parametre">192.168.1.254</span>;		# la passerelle (gateway) de votre réseau, en principe votre box
	<span class="keyword">option domain-name-servers</span> <span class="parametre">192.168.1.254</span>;	# la serveur de nom (dns) de votre réseau, en principe votre box
	option domain-name <span class="parametre">"legral.fr"</span>;

	ddns-update-style <span class="parametre">none</span>;
	#option <span class="parametre">time-offset -7</span>;
	#log-facility <span class="parametre">local7</span>;

<!--#	option ntp-servers <span class="parametre">192.168.1.1</span>;		#adresse serveur de 
#	option netbios-name-servers <span class="parametre">192.168.1.1</span>;#adresse du serveur samba ?
-->
	#si pxelinux.0 se trouve dans le repertoire <u>/srv/tftp/pxelinux.0</u> du serveur tftp <u>192.168.1.1</u>
	<span class="paramPXE">filename</span> <span class="parametre">"pxelinux.0";</span>
	<span class="paramPXE">next-server</span> <span class="parametre">192.168.1.1;</span>	#adresse serveur tftp

	# autre configuration
	#si pxelinux.0 se trouve dans le repertoire <u>/srv/tftp/PXELinux/pxelinux.0</u> du serveur tftp <u>192.168.1.1</u>
	#<span class="paramPXE">filename</span> <span class="parametre">"PXELinux/pxelinux.0";</span>
	#<span class="paramPXE">next-server </span><span class="parametre">192.168.1.1;</span>	#adresse serveur tftp
	}


#attribuer une ip fixe à une machine
host mediatheques  {
	<span class="paramPXE">hardware</span> ethernet 00:05:5d:f5:08:02;
	<span class="paramPXE">fixed-address</span> 192.168.1.251;
}
</pre>

<div class="noteclassic"><span class="paramPXE">Avec cette typo</span>: les paramètres spécifiques pour PXE.<br>
next-server: adresse du serveur tftp. S'il est omis il sera le même que l'adresse du serveur dhcp, cela peut entrainer l'erreur "martian destination" avec certaine carte qui renvoie "0.0.0.0".<br>
Même si les serveur tftp est sur la même machine ne pas mettre 127.0.0.1 car les machines clientes qui reçoivent l'adresse chercheront ce serveur sur le localhost</div>

<div class="noteimportant">
L'option authoritarive <b>ne doit pas être présente ou doit être commentée</b> car si cette option est active le dhcp sera prioritaire par rapport aux autres notamment à celui de votre box et vous ne pourrez sans doute plus accédez à internet.</div>
</p>

<h3>Références::</h3>
<ul>
	<li><a target="references" href="http://coagul.org/drupal/article/installation-d%E2%80%99-serveur-dhcp-sous-debian-etch">COAGUL.org - http://coagul.org/drupal/article/installation-d%E2%80%99-serveur-dhcp-sous-debian-etch</a></li>
	<li><a target="references" href="http://www.isalo.org/wiki.debian-fr/index.php?title=DHCP">isalo.org - http://www.isalo.org/wiki.debian-fr/index.php?title=DHCP</a></li>
	<li><a target="references" href="https://kb.isc.org/article/AA-00333">isc.org - https://kb.isc.org/article/AA-00333</a></li>
</ul>