<style>
/*.fsRoot{color:#00D;}*/
.pxe0{background-color:#000;color:#0D0;}
</style>
<h2>PXE</h2>

<h3>installation, configuration, (re)démarrage</h3>
<pre class="coding_root">aptitude install pxe</pre>
Fichier de configuration: <pre class="coding_filename">/etc/pxe.conf</pre>
 <pre class="coding_file">interface=eth0
default_adress=172.28.31.2

multicast_adress=224.0.1.2

mtftp_adress=224.1.5.1
mtftp_client_port=1758
mtftp_server_port=1759

use_milticast=1

use_broadcast=0

prompt=Press F8 to view menu ...
prompt_timeout=10

#what services to provide, priority in ordering
# CSA = Client System Architecture
# service=<span class="parametre">CSA</span>, <span class="parametre">min_layer</span>, <span class="parametre">max_layer</span>, <span class="parametre">basename</span>, <span class="parametre">menu entry</span>
service=X86PC,0,0,lobal,Local boot
service=X86PC,0,0,pxelinux,PXELinux

#tftp base dir
<span class="keyword">tftpbase</span>=<span class="parametre">/srv/tftp</span>

#domain
domain=legral.fr
</pre>

<p>Là aussi il n'y a rien a modifier sauf <span class="keyword">tftpbase</span> (c'est même pas sur!)</p>


Démarrer/Arrêter le service:<pre class="coding_root">
/etc/init.d/pxe start
/etc/init.d/pxestop</pre>


<h3>Où se situe pxelinux.0</h3>
Le dossier, où <span class="pxe0">pxelinux.0</span> doit se situer, est le répertoire défini par le tftpd (<span class="fsRoot">/srv/tftp/</span>). Appelé ici <span class="fsRoot">repertoire racine</u></span>.


<h3>la structure de fichier que <span class="pxe0">pxelinux.0</span> utilise</h3>
<span class="pxe0">pxelinux.0</span> impose uniquement le répertoire ./pxelinux.cfg/ ou il va chercher le menu qui correspond à l'adresse mac de de la carte du client.<br>
Tous les autres fichiers peuvent être n'importe où tant que leurs chemins commencent par le <span class="fsRoot">répertoire racine</span>. Les liens symboliques peuvent être avantageusement utilisés ici.

<div class="coding_file">
le programme pxe:
<ul>
	<li><span class="fsRoot">/srv/tftp/</span><span class="pxe0">pxelinux.0</span></li>
</ul>

le répertoire de configuration et ses fichiers
<ul>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">pxelinux.cfg/</span>: répertoire de configuration (nom imposé)</li>
</ul>

Les modules (issu du paquet syslinux)
<ul>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0"modules>/span>/memtest86+</li>
</ul>

Les images disque à lancer
<ul>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">images</span>/debian/debian-netInstall.iso</li>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">images</span>/debian/debian-Live1.iso</li>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">images</span>/debian/debian-Live2.iso</li>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">mages</span>/arch/archLinux-netInstall.ikm</li>
</ul>
</div>

<h3>Fonctionnement de pxelinux.0</h3>

<span class="pxe0">pxelinux.0</span> renverra au client le 1er fichier concordant selon l'ordre suivant:
<ul class="coding_file">
	<li>l'adresse MAC exact du client</li>
	<li>L'adresse IP en Hexa</li>
	<li>Les réseau IP en Hexa (du plus précis au plus large)</li>
	<li>le fichier 'default'</li>
</ul>
Exemple:
<ul class="coding_file">
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">pxelinux.cfg</span>/01-88-99-aa-bb-cc-dd</li>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">pxelinux.cfg</span>/C000025B</li>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">pxelinux.cfg</span>/C000025</li>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">pxelinux.cfg</span>/C00002</li>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">pxelinux.cfg</span>/C0000</li>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">pxelinux.cfg</span>/C000</li>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">pxelinux.cfg</span>/C00</li>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">pxelinux.cfg</span>/C0</li>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">pxelinux.cfg</span>/C0</li>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">pxelinux.cfg</span>/C</li>
	<li><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">pxelinux.cfg</span>/default</li>
</ul>

<div class="notetip">
Pour convertir une IP en Hex (contenu dans le paquet syslinux):<span class="coding_user">gethostip</span>.<br>
Pour obtenir l'adresse mac d'une machine:<span class="coding_root">ifconfig</span>
</div>

Exemple d'une configuration minimale(utile pour test de bon fonctionnement).<br>
<span class="fsRoot">/srv/tftp/</span><span class="fsDir0">pxelinux.cfg</span>/default:
<pre class="coding_user">
<b>en gras</b>
prompt 1
ui modules/menu.c32

label memtest86
	kernel modules/memtest86

label hdt
	kernel modules/hdt
</pre>

<h3>paramètres spécifiques à pxelinux</h3>
Non étudié.

<h3>Références:</h3>
<ul>
	<li><a href="">http://pxe.dev.aboveaverageurl.com</a>http://pxe.dev.aboveaverageurl.com -</li>
	<li><a href="http://doc.mandriva.com/fr/mes5/Enterprise-Server-Manual-FR.html/CS-install-pxe.html">http://doc.mandriva.com/fr/mes5/Enterprise-Server-Manual-FR.html/CS-install-pxe.html</a></li>
	<li><a href="http://www.yannobi.com/2010/03/fog-ajout-doptions-au-menu-pxe/"></a>http://www.yannobi.com/2010/03/fog-ajout-doptions-au-menu-pxe/</li>
</ul>