<h2>le serveur tftpd</h2>

<h3>le choix du serveur</h3>
<p>
Le serveur tftp doit supporter l'option "tsize".
Les 3 serveurs compatibles sont:
<ul>
	<li><b>atftp</b>: créer par Jean-Pierre Lefebvre: ftp://ftp.mamalinux.com/pub/atftp/.<br>
	A de meilleur performance sur la plupart des serveurs de boot mais est moins portable et ne fonctionne pas avec un serveur de boot windows, de plus il semble être bugger sur le répertoire utilisateur.</li>
	<li><b>tftp-hal</b>: <a href="http://www.kernel.org/pub/software/network/tftp/">http://www.kernel.org/pub/software/network/tftp/</a> or <a href="ftp://ftp.kernel.org/pub/software/network/tftp/>ftp://ftp.kernel.org/pub/software/network/tftp/</a>.<br>
	Chrootable; Option hautement recommander mais qui nécessite de modifier le chemin (dans la configuration du serveur dhcp) '/tftpboot/' en '/repChrooter/'.
	</li>
	<li><b>tftpd</b>  avec modification pour windows 2000.</li>
	<li><b>tftpd32</b> by Philippe Jounin: <a href="http://tftpd32.jounin.net/">http://tftpd32.jounin.net/"</a>
	</li>
</ul>
</p>

<h3>atftp</h3>
<p>
J'utilise celui ci car il est plus simple à configurer. Tellement simple qu'il n'y à rien à faire.
</p>

<h4>installation</h4>
<p>
<span class="coding_root">aptitude install atftpd</span>
</p>

<h4>fichier de configuration</h4>
<p>
Fichier de configuration (normalement il n'y à rien à modifier) :<span class="coding_filename">/etc/default/atftpd</span>
<pre class="coding_file">USE_INETD=true
OPTIONS="--tftpd-timeout 300 --retry-timeout 5 --mcast-port 1758 --mcast-addr 239.239.2390.-255 --mcast-ttl 1 --maxthread 100 --verbose=5 <span class="parametre">/srv/tftp</span>"</pre>
<div class="notewarning">Bug: Ne pas changer le répertoire en fin de la 2ème lignes; cela ne servirai à rien il ne sera pas pris en  compte. Atftpd cherchera toujours dans <span class="filename">/srv/tftp/</span></div>
<div class="noteimportant">C'est <u>à partir</u> de ce répertoire <span class="filename">/srv/tftp/</span> que pxelinux.0 sera rechercher. </div>
</p>

<h4>Démarrer/Arrêter le service:</h4>
<p>
<pre class="coding_root">
/etc/init.d/atftpd start
/etc/init.d/atftpd stop</pre>

</p>

<h3>tftpd-hpa</h3>
<p>
<div class="noteclassic">Configuration non testé</div>
</p>

<h4>installation</h4>
<p><pre class="coding_root">aptitude install tftpd-hpa</pre></p>

<h4>Fichier de configuration</h4>
<p>
Fichier de configuration: <span class="coding_file filename">/etc/conf.d/in.tftpd</span><br>
Le port par defaut est : 68/udp<br>
<pre class="coding_file">
INTFTPD_PATH="/srv/diskless"
INTFTPD_OPTS="-l -v -s ${INTFTPD_PATH}"
</pre>
<div class="noteclassic">INTFTPD_PATH: chemin ou se trouve la configuration,les initrd,et les fichiers images(iso,img). Il peut être 'importe ou.</div>
</p>

<h4>Démarrer/Arrêter le service:</h4>
<p>
<pre class="coding_root">/etc/init.d/in.tftpd stop
/etc/init.d/in.tftpd start</pre>
</p>