<h2>mécanisme interne</h2>
<p>
<div class="noteimportant">
Les fichiers et répertoires sont relatifs au répertoire ./pxelinux.cfg/. Ce répertoire est défini dans le fichier de configuration du serveur tftp, en général:
<ul>
	<li>/tftpboot/</li>
	<li>/srv/tftp/ (pour atftpd)</li>
</ul>
</div>

Pour fonctionner il faut que les services suivant soit configurés et accessibles depuis le lan <i>(pour une utilisation plus large voir <a target="_blank" href="ipxe.org">iPXE</a>)</i>:
<ul>
	<li>le service:dhcpd</li>
	<li>le service:tftpd</li>
	<li>le programme:pxe</li>
</ul>
Le service tftp et pxe doivent être sur la même machine, le service dhcp peut être déporté.<br>
Le client n'a besoin de rien sauf d'avoir une carte réseau qui possède la fonction PXE.
Et ,dans le cas d'un lancement via fetch, que sa carte réseau soit compatible avec linux (le kernel)
</p>

<h3>Le serveur dhcp</h3>
<p>
Fournit:
<ul>
	<li>une ip à la machine cliente </li>
	<li>l'adresse ip du serveur tftp</li>
</ul>
</p>

<h3>Le serveur tftp</h3>
<p>
fournit:
<ul>
	<li>les fichiers textes et les images (pour les fonds d'écran au format png/jpg  (pour le menu)</li>
	<li>les modules</li>
	<li>les kernels, ramDisk, fichiers images</li>
</ul>
</p>

<h3>le service pxe</h3>
<p>Le service pxe écoute le port 4011(?). Celui-ci affiche un menu(syslinux) et lance les programmes sélectionnés.</p>
