<h2><a name="plan"></a>Sommaire de la présentation</h2>
<p>
<div class="notetip">adresse de la présentation: <a target="conferencier" href="http://mediatheques.legral.fr:11111/">http://mediatheques.legral.fr:11111/</a></div>
</p>

<h3>Pré-requis:</h3>
<ul>
<li>avoir de bonnes notions d'adressage réseau (IP/DHCP).</li>
<li>Aucune notion de programmation requise.</li>
</ul>

<h3>Support du Tuto:</h3>
<ul>
<li>les configurations énoncées dans le tuto sont sur le système suivant: Linux/Debian 6.x (compatible 7.x). il n'y a aucune difficulté d'adaptation à un autre système.</li>
<li>La configuration ne demande que peu de ressource et est totalement installable sur une raspberryPi. </li>
</ul>

<h3>Préambule:</h3>
<ul>
	<li>note sur le menu du site:<br>
	La coloration des onglets du menu permet de suivre l'évolution du tuto.
	</li>
	<li>différence entre netBoot et netInstall
	<ul>
		<li>netInstall: install un systeme en le téléchargeant via un réseau (local ou internet)</li>
		<li>netBoot: démarre un système via le réseau local . Ce système peut être un netInstall.</li>
	</ul>
	</li>
</ul>

<h3>A quoi peut servir pxe - avantages/inconvenients</h3>
<p>Nous verrons une liste d'exemples d'utilisation ainsi que les avantages et inconvénients de pxelinux.</p>

<h3>Démonstration: démarrage d'un système via PXE</h3>
<p>Démonstration en live.</p>

<h3>Partie 1: présentation du projet SysLinuxProject</h3>
<p></p>

<h3>Partie 2: installation et configuration d'un "service" PXE</h3>
<ol>
	<li>Explication du mécanisme</li>
	<li>Installation/configuration des 3 services nécessaires: dhcpd,tftpd,pxe</li>
</ol>

<h3>Partie 3: Le menu (sysLinux)</h3>
<ol>
	<li>comment lancer une image disque?</li>
	<li>présentation des modules natifs:
	<ul>
		<li>menu.c32</li>
		<li>memtest</li>
		<li>hdt:Hadrward Detection Tools</li>
		<li>...</li>
	</ul>
	</li>

	<li>l'arborescence des fichiers dans  SysLynux, la fonction include</li>
	<li>ajout d'une image de fond</li>
	<li>restreinte un accès par mot de passe</li>
	<li><h4>passer du mode console à une interface (semi)graphique</h4>
		<ul>
		<li>positionner les éléments</li>
		<li>mettre de la couleur dans les textes</li>
		</ul>
	</li>
</ol>

<h3>Partie 4: ou trouver des images systèmes</h3>
<ol>
	<li>Debian</li>
	<li>ArchLinux</li>
	<li>freeDos</li>
</ol>

<h3>Partie 5: Aller plus loin</h3>
<p>
<h4>Créer une image GNU/Linux Debian personnalisée</h4>
Créer ses propres images disques permet de rendre accessibles à toutes les machines du réseau. On peut imaginer une image spécialisée dans le dépannage intégrant tous les outils dédié y compris la documentation, les jeux, l'édition vidéo; et cela en controlant l'espacce disque utilisé.<br>

Cette partie sort du cadre de ce tutoriel et en nécessite un à part entière. Il se trouve <a href="/legralNet/legralNet-0.2/?tutoriels=debianLive" >ici</a>
</p>

<h3>Partie 6: Les annexes</h3>
<p>
</p>

<h2><a name="accueil">PXELinux -accueil</h2>
<p>PXELinux composant de SysLinuxProject, il est une sur-couche de sysLinux qui  permet de démarrer un système via le réseau local.<br>
PXE est limité au réseau local (LAN) pour une utilisation plus large voir avec <a target="_blank" href="http://ipxe.org" >iPXE</a>
</p>
