<h3>Exemple de Menu minimal</h3>
<p>

<span class="coding_filename">/tftpboot/pxelinux.cfg/default</span>
<pre class="coding_file">
default menu.c32
prompt 0
    
    menu title exemple de menu minimal
    
# démarre à partir des disques dur locaux
    label bootlocal
      menu label démarre à partir du 1er disque dur
      menu default
      localboot 0
      timeout 80
      TOTALTIMEOUT 9000
    
    LABEL memtest
      MENU LABEL memTest
      KERNEL memtest.c32
</pre>

