/////////////////////////////////////////////////////////////////////////////////////////
<pre>
<li><a href="http://osdir.com/ml/debian-live">http://osdir.com/ml/debian-livelive</a></li>
<li><a href="http://www.clonezilla.org/clonezilla-live/boot-parameters/live-config.php">http://www.clonezilla.org/clonezilla-live/boot-parameters/live-config.php</a></li>
append \
	live-config.hostname=legralLive \
	live-config.username=legralUser \
	live-config.user-fullname="utilisateur joyeux des services du GRAL" \
	live-config.locales= \
	live-config.timezone='Europe/Paris' \
	live-config.utc=yes \
	live-config.keyboard-layouts= \
	live-config.x-session-manager= \
	live-config.xorg-resolution= \
	live-config.hooks=filesystem|medium|URL1|URL2| ... |URLn 
	
	
	
	

/////////////////////////////////////////////////////////////////////////////////////////
parametre sur plusieurs lignes:
boot:=-b isolinux/isolinux.bin \
      -no-emul-boot -boot-load-size 4 -boot-info-table \
      -hide isolinux.bin -hide-joliet isolinux.bin \
      -hide boot.catalog -hide-joliet boot.catalog
      -hide trans.tbl -hide-joliet trans.tbl

/////////////////////////////////////////////////////////////////////////////////////////


http://reboot.pro/topic/8258-iso-mapping-with-memdisk-is-possible-now/

label Parted Magic 42 memdisk + http
KERNEL memdisk
APPEND iso initrd=http://192.168.1.100/images/pmagic/pmagic-4.2.iso 



Booting WinPE 2.1 ISO (pe21.iso) located in WinPE 2.1 + memdisk ISO.

Tested from VirtualBox CD Drive.



WinPE 2.1 + memdisk CD-ROM:

Directory of D:\

11/16/2009 07:22 AM <DIR> BOOT
01/18/2008 04:45 AM 333,203 BOOTMGR
11/16/2009 07:21 AM <DIR> EFI
11/16/2009 07:22 AM <DIR> ISOLINUX
11/16/2009 07:23 AM <DIR> SOURCES
11/16/2009 07:21 AM <DIR> TOOLS
1 File(s) 333,203 bytes
5 Dir(s) 0 bytes free

Directory of D:\ISOLINUX

11/16/2009 07:22 AM <DIR> .
11/16/2009 07:22 AM <DIR> ..
11/15/2009 08:10 PM 14,336 ISOLINUX.BIN
11/16/2009 07:23 AM 232 ISOLINUX.CFG
08/03/2009 06:42 PM 24,972 MEMDISK
11/15/2009 08:09 PM 57,396 MENU.C32
11/16/2009 05:52 AM 130,138,112 PE21.ISO
01/04/2008 08:23 AM 2,048 PE21BOOT.BIN
6 File(s) 130,237,096 bytes
2 Dir(s) 0 bytes free


MENU:

D:\ISOLINUX>type isolinux.cfg

default menu.c32
prompt 0

label pe21
menu label ^P) Boot Custom Windows PE 2.1
kernel pe21boot.bin

label pe21.iso
menu label ^Q) Boot Custom Windows PE 2.1 ISO with memdisk
linux memdisk
append iso
initrd pe21.iso


CREATE WinPE 2.1 + memdisk ISO FILE:

Rename etfsboot.com to pe21boot.bin

oscdimg.exe -m -n -b<path to isolinux.bin> <ISO source directory> <ISO file>


/////////////////////////////////////////////////////////////////////////////////////////
Lancer un .iso a partir d'un pxe?
http://xpt.sourceforge.net/techdocs/nix/disk/btmk/btmk08-MultiBootingWithSyslinux/single/
"Il n'y a pas d'outils existant pour faire ca" H. Peter Anvin @ zytor.com


/////////////////////////////////////////////////////////////////////////////////////////
http://xpt.sourceforge.net/techdocs/nix/disk/btmk/btmk08-MultiBootingWithSyslinux/single/
LABEL slaxltop
KERNEL /boot/slax/vmlinuz
APPEND vga=769 max_loop=255 initrd=/boot/slax/initrd.gz from=/slax init=linuxrc load_ramdisk=1 prompt_ramdisk=0 ramdisk_size=4444 root=/dev/ram0 rw

/////////////////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////////////////
</pre>