<h1>Tuto FileZilla</h1>

<h2>Installation<h2>
site officiel: <a target="site_exterieur" href="https://filezilla-project.org/">https://filezilla-project.org/</a>

<h2>configuration g&eacute;n&eacute;rale<h2>
<img src="/0pages/legralNet/filezilla/tuto-filezilla-1.png"/>


<h2>Ajout d'une connexion &agrave; un site<h2>
Acc&eacute;der au gestionnaire de site:<br>
<li>[Ctrl S] ou
<li>Fichier -> gestionnaire de site:<br>
Mot de passe: mediauser<br>
<img src="/0pages/legralNet/filezilla/tuto-filezilla-3.png"/>


<h2>copier des fichiers<h2>

<img src="/0pages/legralNet/filezilla/tuto-filezilla-4.png"/>




