contexte

<div id="repereTemporel-gestFrises"></div>
<div id="showActivity"></div>
<div id="friseA"></div> 
<script src="./cgp/frise-contexte.js"></script>
<script src="./cgp/"></script>


<script>
showActivityId=document.getElementById('showActivity');


//document.write(gestLib.libs['"repereTemporel-gestFrises'].insect();'+gestLib.libs);



//console: 
//gestLib.libs['repereTemporel-gestFrises'].HTMLId;
gestLib.setConsole('repereTemporel-gestFrises');

function showCode(obj)
        {
        if(!obj)return null;
        var showCodeId=document.getElementById('showCode');
        if(typeof(obj.toSource)==='function')showCodeId.innerHTML=obj.toSource();
        }

function showActivity(text,add)
        {
//        var showActivityId=document.getElementById('showActivity');
        var txt=text?text: '';
        var out=add?showActivityId.innerHTML: '';
        out+=txt;
        showActivityId.innerHTML=out+'<br>';
        }

function postLoad()
        {
//      friseA=new Tfrise();
        createFriseA();
        
        }
</script>


