<h2>swap : le système d'échange</h2>

<h3>Rôle:</h3>
<p>
Le système d'échange est une extention de memoire vive. Il est utiliser quand la ram est inssufisante ou par certain programme pour stocké des fichiers.<br>
L'avantage est qu'il rend la mémoire vive virtuellement illimité. L'inconvénient c'est qu'étant sur disque son accée est beaucoup plus long.

Ajouter un swap sur linux est possible de 2 façons: vai une partitions dédié ou un fichier dans une partition.
</p>




<h3>la partition d'échange</h3>

<h4>Avantage</h4>
<p>rapidité.</p>

<h4>Inconvénient</h4>
<p>La taille de la partition étant fixe l'espace unitilisé est perdu.</p>



<h4>création de la partition</h4>
<p>
La création d'une partition swap se fait comme n'importe qu'elle au partition.

<div class="coding_root">
mkswap <span class="parametre">périphérique|fichier</span>
</div>



</p>

<h3>le fichier d'échange</h3>
<p>

Il existe plusieurs possibilités de créer un fichier d'échange: un fichier à taille fixe ou un fichier à taille dynamique.

<h4>création d'un fichier à taille fixe avec les outils standart</h4>



<h3>Programme pour manipuler les swap</h3>

<h4>swapspace</h4>
<span class="fileName"> /etc/swapspace.conf</span>


<h4>dphys-swapfile</h4>



</p>

