<h2>Détail des étapes d'un boot en images</h2>


<img src="" />

<h3>Etape 1</h3>
Le client demande une adresse au dhcp avec un signal spécial pour indiquer une demande PXE.

<h3>Etape 1.1</h3>
Le dhcp répond au client, il lui fournit:
<ol>
	<li> une adresse IP</li>
	<li>l'adresse du serveur tftp et le nom du fichier à éxécuter (pxelinux.0) action non affiché.</li>
</ol>

<h3>Etape 2</h3>
Le client execute pxelinux.0
<ol>
	<li>il determine quel fichier utiliser comme menu</li>
	<li>envoie le menu</li>
</ol>
<img src="" />


<h3>Etape 3</h3>
Lancement d'une image disque
<ol>
	<li>chargement du kernel</li>
	<li>chargement du ramdisk (intrd)</li>
	<li>lancement de l'o.s. (dans le système de fichier; défini par initrd(je crois) ou mis en parametre fetch)</li>
</ol>


