<h2>dhcpd</h2>

<h3>Configuration de dhcpd</h3>
<p>Fichier de configuration:<pre class="coding_file">/etc/dhcp/dhcpd.conf</pre>

<h4>installation, configuration, (re)démarrage</h4>
<pre class="coding_root">aptitude install isc-dhcp-server</pre>
<pre class="coding_file">/etc/dhcp/dhcpd.conf</pre>
Démarrer/Arrêter le service:<pre class="coding_root">/etc/init.d/isc-dhcp-server start
/etc/init.d/isc-dhcp-server stop
</pre>


<h4>Configuration générale:</h4>
Le Port 67/udp doit être ouvert et accessible aux clients (firewall).<br>

<h4>Configuration d'un réseau entier</h4>
<pre class="coding_file">
ddns-update-style interim;

subnet 192.168.1.0 netmask 255.255.255.0 {
	#authoritarive;				#important ne doit pas être présent ou doit être commenté sinon ce serveur sera prioritaire (et pas la box)
	range 192.168.1.150 192.168.1.160;	#important ne doit pas entrer en conflit avec un autre serveur dhcp
	option subnet-mask 255.255.255.0;
	default-lease-time 3600;
	max-lease-time 4800;
	option routers 192.168.1.254;		# la passerelle (gateway) de votre réseau, en principe votre box
	option domain-name-servers 192.168.1.254;	# la serveur de nom (dns) de votre réseau, en principe votre box
	option domain-name "legral.fr";

	ddns-update-style interim;
	#option time-offset -7;
	#log-facility local7;

	option ntp-servers 192.168.1.1;		#adresse serveur de 
#	option netbios-name-servers 192.168.1.1;#adresse du serveur samba ?

	#si pxelinux.0 se trouve dans le repertoire <u>/srv/tftp/pxelinux.0</u> du serveur tftp <u>192.168.1.1</u>
	<b style="color:red;">filename "pxelinux.0";</b>
	<b style="color:red;">next-server 192.168.1.1;</b>	#adresse serveur tftp

	# autre configuration
	#si pxelinux.0 se trouve dans le repertoire <u>/srv/tftp/PXELinux/pxelinux.0</u> du serveur tftp <u>192.168.1.1</u>
	#<b style="color:red;">filename "PXELinux/pxelinux.0";</b>
	#<b style="color:red;">next-server 192.168.1.1;</b>	#adresse serveur tftp
	}
</pre>

<div class="noteclassic"><b style="color:red;">en rouge:</b> les paramètres spécifiques pour PXE.<br>
next-server: adresse du serveur tftp. S'il est omis il sera le même que l'adresse du serveur dhcp, cela peut entrainer l'erreur "martian destination" avec certaine carte qui renvoie "0.0.0.0".<br>
Meme si les serveur tftp est sur la meme machine ne pas mettre 127.0.0.1 car les machines clientes qui recoivent l'adresse chercheront ce serveur sur le localhost</div>

<div class="noteimportant">
L'option authoritarive <b>ne doit pas être présente ou doit être commentée</b> car si cette option est active le dhcp sera prioritaire par rapport aux autres notamment à celui de votre box et vous ne pourrez sans doute plus accédez à internet.</div>
</p>