<style>
.keyword{color:#FFF;}
</style>

<h2>comment lancer une image disque</h2>

<div class="notetip">a déplacer dans le tuto spécifique à Syslinux</div>

Detail d'un menu: 
<pre class="coding_file">
<span class="keyword">label</span> etiquette_interne_sans_espace_ni_caractere_esoterique
      <span class="keyword">menu label </span> texte qui apparaitra au client
      <span class="keyword">kernel</span> fichier du noyau charger.
      <span class="keyword">append</span> parametre pour configurer le noyau
      <span class="keyword">initrd</span> bootstrap: créer un environnement pour le système de fichier (peut dans certain cas contenir le système de fichier)
</pre>
La balise <span class="keyword">label</span> n'a pas de balise de fin. Les entrées <span class="keyword">kernel</span>,<span class="keyword">append</span>,<span class="keyword">initrd</span> peuvent être écrites dans n'importe quel sens. Ici elles sont écrites dans l'ordre de leurs exécutions:
<ol>
<li>le <span class="keyword">kernel</span> est lancé</li>
<li>modifié par les paramètres <span class="keyword">append</span></li>
<li>ensuite se fait l'INITialisation du RamDisk (<span class="keyword">initrd</span>) </li>
<li>qui "boot" sur le périphérique de son choix. Ces périphériques peuvent être:
<ul>
<li>(disque dur/clef USB,cdrom,</il>
<li>système de fichier à l'intérieur d'un fichier (squashFS,cramFS,etc)</li>
<li>autres système que je ne connais pas</li>
</ol> 

<h3>Lancer une image disque .iso</h3>
<div class="notetip">il est impossible de charger une image au format .iso</div>

La solution consiste à:
<ol>
<li>monter l'image dans un répertoire:
<span class="coding_root">mount -o loop <span class="pxeRoot">/srv/tftp/</span>images/image.iso /media/iso (<a title="voir note1" href="#note1">1</a>)</span></li>
<li>extraire les fichiers utiles (kernel, inird, squashfs etc</li>
<li>les appeler via un menu</li>
</ol>

<h3>debian Live</h3>
<h4>current (squeeze) live-386 chargement via pxe( et web?)</h4>
<pre >
label squeeze-live-386-par-web
	menu label squeeze live-386-web
	kernel images/debian-live-6.0.7-i386-gnome-desktop.vmlinuz2
	append boot=live config union=aufs noswap fetch=http://cdimage.debian.org/debian-cd/current-live/i386/web/debian-live-6.0.7-i386-gnome-desktop.squashfs
	initrd images/debian-live-6.0.7-i386-gnome-desktop.initrd2.img 
</pre>
liens pour <a href="http://cdimage.debian.org/debian-cd/current-live/i386/webboot/">.vmlinuz2,.initrd2.img,.squashfs</a><br>

<h4>live-386 chargement via pxe et net</h4>
<pre>
label debian-live-386-par-net
	menu label debianlive-386-net
	kernel ?
	append boot=live config union=aufs noswap vga=788 
	initrd ?
</pre>
liens pour <a href="http://cdimage.debian.org/debian-cd/current-live/i386/net/">.tar.gz (net)</a><br>
ex: debian-live-6.0.7-i386-gnome-desktop-net.tar.gz<br>
A TESTER!<br>



<hr>
<h3>NetInstall</h3>
<h4>debian netInstall-386 chargement via pxe</h4>
<pre>
label squeeze-netInstall-386-
	menu label squeeze live-386-net
	kernel images/linux
	append boot=live config union=aufs noswap vga=788 
	initrd images/initrd.gz
</pre>

<a href="http://ftp.fr.debian.org/debian/dists/stable/main/installer-i386/current/images/netboot/gtk/debian-installer/i386/">stable(squeeze)	linux,	initrd.gz</a><br>

<a href="http://ftp.fr.debian.org/debian/dists/testing/main/installer-i386/current/images/netboot/gtk/debian-installer/i386/">testing(wheezy)	linux,	initrd.gz</a><br>

<hr>
<h2>UBUNTU</h2>
kernel: linux<br>
initrd:initrd.gz<br>
<ul>
	<li><a href="http://fr.archive.ubuntu.com/ubuntu/dists/oneiric/main/installer-i386/current/images/netboot/ubuntu-installer/i386/">fr.archive.ubuntu.com: oneiric installeur</a></li>
</ul>

<hr>
<h2>CentOS </h2>
<h3>CentOS - live </h3>
<h4>CentOS live chargement via pxe</h4>
<pre>
label CentOS _live
	menu label CENTOS live
	kernel images/vmlinuz
	append boot=live config union=aufs noswap vga=788 
	initrd images/initrd.img
</pre>

<pre>
LABEL CentOS 5 x86 NO KS eth0
        MENU LABEL CentOS 5 x86 NO KS eth0
        KERNEL images/centos/5/x86/vmlinuz
        APPEND ks initrd=images/centos/5/x86_64/initrd.img ramdisk_size=100000 ksdevice=eth1 ip=dhcp url --url http://xxx.xxx.xxx.xxx/mirrors/CentOS-5-i386/
</pre>

<pre>
LABEL CentOS 5 x86_64 NO KS eth0
        MENU LABEL CentOS 5 x86_64 NO KS eth0
        KERNEL images/centos/5/x86_64/vmlinuz
        APPEND ks initrd=images/centos/5/x86_64/initrd.img ramdisk_size=100000 ksdevice=eth1 ip=dhcp url --url http://xxx.xxx.xxx.xxx/mirrors/CentOS-5-x86_64/
</pre>


Référence: <a href="http://wiki.centos.org/HowTos/PXE/PXE_Setup/Menus">centOS via pxe</a>
<ul>
	<li><a href="http://mirror.centos.org/centos/6.4/os/i386/images/pxeboot/">mirror.centos.org: v6.4 i386 live</a></li>
	<li><a href="http://mirror.centos.org/centos/6.4/os/x86_64/images/pxeboot/">mirror.centos.org: v6.4 x64 live</a></li>
	<li><a href="http://mirror.centos.org/centos/6.4/os/i386/images/install.img">mirror.centos.org: v6.4 installeur(install.img)</a></li>

	<li><a href="http://www.pendrivelinux.com/make-a-usb-boot-cd-for-ubuntu-9-10/#more-2681">lancer des ubuntus selon la version</a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>

</ul>




<hr>
notes:<br>
<i> append initrd=initrd.img boot=live config union=aufs noswap noprompt vga=788 fetch=http://$webserverIP/filesystem.squashfs</i><br>

kernel: linux<br>
initrd:initrd.gz<br>
<ul>
	<li><a href=http://ftp.fr.debian.org/debian/dists/stable/main/installer-i386/current/images/netboot/debian-installer/i386/">mirrors.kernel.org: stable installeur  i386</a></li>
	<li><a href=http://ftp.fr.debian.org/debian/dists/testing/main/installer-i386/current/images/netboot/debian-installer/i386/">mirrors.kernel.org: testing installeur i386</a></li>

	<li><a href="http://ftp.fr.debian.org/debian/dists/squeeze/main/installer-i386/current/images/netboot/debian-installer/i386/">ftp.fr.debian.org: squeeze installeur i386</a></li>

	<li><a href=http://ftp.fr.debian.org/debian/dists/wheezy/main/installer-i386/current/images/netboot/debian-installer/i386/">ftp.fr.debian.org: 	wheezy installeur i386</a></li>

</ul>

<h3>notes:</h3>
<ol>
<li><a target="notes" name="note1" href="http://www.cyberciti.biz/tips/how-to-mount-iso-image-under-linux.html">monter une image iso (http://www.cyberciti.biz/tips/how-to-mount-iso-image-under-linux.html)</a></li>
</ol>



<h2>Ou trouver les kernels et ramFS</h2>



