<a name="plan"></a><h2>Sommaire de la présentation</h2>
<div class="notetip">adresse de la présentation: <a target="conferencier" href="http://mediatheques.legral.fr:11111/">http://mediatheques.legral.fr:11111/</a></div>

Pré-requis:
<ul>
<li>avoir de bonnes notions d'adressage réseau (IP/DHCP).</li>
<li>Aucune notion de programmation requise.</li>
</ul>

Support du Tuto:
<ul>
<li>les configurations énoncées dans le tuto sont sur le système suivant: Linux/Debian 6.x (compatible 7.x). il n'y a aucune difficulté d'adaptation à un autre système.</li>
<li>La configuration ne demande que peu de ressource et est totalement installable sur une raspberryPi. </li>
</ul>

Préambule:
<ul>
	<li>note sur le menu du site:<br>
	La coloration des onglets du menu permet de ssuivre l'évolution du tuto.
	</li>
	<li>différence entre netBoot et netInstall
	<ul>
		<li>netInstall: install un systeme en le téléchargeant via un réseau (local ou internet)</li>
		<li>netBoot: démarre un système via le réseau local . Ce système peut être un netInstall.</li>
	</ul>
	</li>
</ul>

<h3>A quoi peut servir pxe - avantages/inconvenients</h3>
Nous verrons une liste d'exemples d'utilisation ainsi que les avantages et inconvénients de pxelinux.

<h3>Démonstration: démarrage d'un système via PXE</h3>
Chaque étape devra avoir une image correspondante.
Étape:
<ol>
	<li>le serveur dhcp: la demande d'ip->attribution d'une ip->contact avec le serveur tftp</li>
	<li>le serveur tftp: envoie de pxelinux.0</li>
	<li>pxelinux.0: envoie du menu selon l'adresse mac</li>
</ol>
Puis démonstration en live pour les présent physiquement.

<h3>Partie 1: présentation du projet SysLinuxProject</h3>


<h3>Partie 2: installation et configuration d'un "service" PXE</h3>
<ol>
	<li>Explication du mécanisme</li>
	<li>Présentation des 3 services nécessaires: dhcpd,tftpd,pxe</li>
</ol>

<h3>Partie 3: Le menu (sysLinux)</h3>
<ol>
	<li>comment lancer une image disque?</li>
	<li>présentation des modules natifs:
	<ul>
		<li>menu.c32</li>
		<li>memtest</li>
		<li>hdt:Hadrward Detection Tools</li>
		<li>...</li>
	</ul>
	</li>

	<li>l'arborescence des fichiers dans  SysLynux/ La fonction include</li>
	<li>ajout d'une image de fond</li>
	<li>restreinte un accee par mot de passe</li>
	<li>positionner ces éléments</li>
	<li>coloriser son texte</li>
	<li>...</li>
</ol>

<h3>Partie 4: ou trouver des images systèmes</h3>
<ol>
	<li>Debian</li>
	<li>ArchLinux</li>
	<li>freeDos</li>
</ol>

<h3>Partie 5: Créer une image GNU/Linux Debian personnalisée</h3>
Cette partie sort du cadre de ce tutoriel et en nécessite un à part entière. Il se trouve <a href="/legralNet/legralNet-0.2/?tutoriels=debianLive" >ici</a>
</p>


<a name="accueil"><h2>PXELinux -accueil</h2>
<p>PXELinux composant de SysLinuxProject, il est une sur-couche de sysLinux qui  permet de démarrer un système via le réseau local.<br>
PXE est limiter au réseau local (LAN) pour une utilisation plus large voir avec <a target="_blank" href="http://ipxe.org" >iPXE</a>



