<h2>le serveur tftpd</h2>

<h3>le choix du serveur</h3>
<p>
Le serveur tftp doit supporter l'option "tsize".
Les 3 serveurs compatibles sont:
<ul>
	<li><b>atftp</b>: créer par Jean-Pierre Lefebvre: ftp://ftp.mamalinux.com/pub/atftp/.<br>
	A de meilleur performance sur la plupart des serveurs de boot mais est moins portable et ne fonctionne pas avec un serveur de boot windows, de plus il semble être bugger sur le répértoire utilisateur.</li>
	<li><b>tftp-hal</b>: <a href="http://www.kernel.org/pub/software/network/tftp/">http://www.kernel.org/pub/software/network/tftp/</a> or <a href="ftp://ftp.kernel.org/pub/software/network/tftp/>ftp://ftp.kernel.org/pub/software/network/tftp/</a>.<br>
	Chrootable; Option hautement recommander mais qui nécessite de modifier le chemin (dans la configuration du serveur dhcp) '/tftpboot/' en '/repChrooter/'.
	</li>
	<li><b>tftpd</b>  avec modification pour windows 2000.</li>
	<li><b>tftpd32</b> by Philippe Jounin: <a href="http://tftpd32.jounin.net/">http://tftpd32.jounin.net/"</a>
	</li>
</ul>
</p>

<h3>atftp</h3>
J'utilise celui ci car il est plus simple à configurer. Tellement simple qu'il n'y a rien à faire.

<h4>installation, configuration, (re)démarrage</h4>
<pre class="coding_root">aptitude install atftpd</pre>
Fichier de configuration (normalement il n'y à rien à modifier) :<pre class="coding_file">/etc/default/atftpd</pre>
Démarrer/Arrêter le service:<pre class="coding_root">
/etc/init.d/atftpd start
/etc/init.d/atftpd stop</pre>

<div class="noteimportant">Bug: Ne pas changer le répertoire en fin de la 2 lignes cela ne servirai à rien il ne sera pas pris en  compte. atftpd cherchera toujours dans /srv/tftp/</div>


<h3>tftpd-hpa</h3>
<div class="noteclassic">Configuration non testé</div>

<h4>installation, configuration, (re)démarrage</h4>
<pre class="coding_root">aptitude install tftpd-hpa</pre>

Fichier de configuration:<pre class="coding_file">/etc/conf.d/in.tftpd</pre>
Le port par defaut est : 68/udp<br>
Démarrer/Arrêter le service:<pre class="coding_root">/etc/init.d/in.tftpd stop
/etc/init.d/in.tftpd start</pre>
<pre class="coding_file">
INTFTPD_PATH="/srv/diskless"
INTFTPD_OPTS="-l -v -s ${INTFTPD_PATH}"
</pre>
<div class="noteclassic">
<li>INTFTPD_PATH: chemin ou se trouve la configuration,les initrd,et les fichiers images(iso,img). Il peut être n'importe ou.</li>
</div>
</p>

