<h2>A quoi peut servir pxe - avantages/inconvénients</h2>
<h3>Exemples d'utilisation</h3>
<ul>
	<li>lancer une image disque de dépannage (récupération de fichier, de système, partitionnement,analyse du matériel)</li>
	<li>lancer un installateur de système par réseau (netInstall: plus besoin de disque bootable dd/clef usb)</li>
	<li>lancer une image spécifique à un usage: montage vidéo, station de jeux, media center(XBMC), compilation, etc</li>
	<li>démarrer un nas via le WakeOnLan. Le faire booter en pxe. Lui faire charger automatiquement une image spécialisé. (évite d'utiliser un disque dédié pour le système.</li>
	<li>lancer un système de machine Virtuelle</li>
	<li>utiliser une machine qui n'a pas de support de stockage</li>
	<li>créer un cyber espace où le client aurait le choix de son système et ou ils pourrait stocker (et emporté) sa version personnalisé via le système de persistance.</li>

</ul>
<h3>Avantages:</h3>
<ul>
	<li>Les système utilisés étant dans un fichier sur le serveur. Les images sont donc identiques à chaque démarrage (pas de ralentissement ou contamination possible).</li>
	<li>le système de persistance permet de sauver ses documents et, éventuellement, ses modification systèmes.</li>
	<li>déploiement facile d'un grand nombre de solutions différentes (distributions([Debain|fedora|CentOS|etc])/architectures[i368[amd64|arm|etc])</li>
	<li>les images sont disponibles pour toutes les machines du réseau, les machines sont donc interchangeables.</li>
	<li>Possibilité d'attribuer un menu spécifique à une machine particulière.</li>
</ul>

<h3>Inconvénients</h3>
<ul>
	<li>avoir un réseau en conséquence du nombre d'utilisateur</li>
	<li>l'utilisation de la mémoire par l'image disque (dans ce certain cas (fetch)</li>
	<li>les systèmes live fournis étant généralistes le recours aux images personnalisées se fait vite sentir; et cette technique n'est pas à la portés des débutants. </li>
</ul>