<h2>Les Primarques</h2>
<ol>
	<li></li>
	<li></li>
	<li>Fulgim: le Phénicien. Primarques des </li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li>Fenrus Magnus: Gorgone</li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li>Loargar Aurelian: Urize. Primarque des Words Beavers; planète Colchis. La 2ème armée la plus nombreuse(100.000).</li>
	<li></li>
	<li></li>
	<li></li>
</ol>	
