.warHammer40k_livre
	{
	width:90%;
	min-height:3em;
	margin:0 auto;
	border:1px solid blue;
	-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
	background-color:#55cd5e;
	padding:0.5em;
	}
.warHammer40k_livre_titre
	{
	font-weight:bold;
	}

.warHammer40k_livre_synops_content,.warHammer40k_livre_resume_content
	{display:none;width:90%;min-height:1em;margin:0 auto;background-color:#55cd5e;padding:0.5em;text-decoration:none;}

.warHammer40k_livre_resume_content
	{border:1px solid blue;border-radius:10px;}

.warHammer40k_livre_synops_titre,.warHammer40k_livre_resume_titre	{display:inline;}

.warHammer40k_livre_synops_titre									{display:inline}
/*.warHammer40k_livre_synops_titre:hover								{text-decoration:underline;}*/
.warHammer40k_livre_synops_titre:hover .warHammer40k_livre_synops_content		{display:block;}
.warHammer40k_livre_synops_content,	.warHammer40k_livre_synops_content:hover	{text-decoration:none;}

.warHammer40k_livre_resume_titre									{display:inline}
/*.warHammer40k_livre_resume_titre:hover								{text-decoration:underline;}*/
.warHammer40k_livre_resume_titre:hover .warHammer40k_livre_resume_content		{display:block;}
.warHammer40k_livre_resume_content,	.warHammer40k_livre_resume_content:hover	{text-decoration:none;}

p.warHammer40k_chapitre{text-align:justify;text-decoration:none;}
p.warHammer40k_chapitre span{font-weight:bold;color:green;}
p.warHammer40k_chapitre span:after{content:": "}
p.warHammer40k_chapitre:first-letter{font-weight:bold;}

