<h2>Personalisation d'une image -ajouter un depot .deb (hors depot officiel)</h2>

Il ya 2 methodes:
<ul>
<li>le repertoire ./config/chroot_local-packages: simple et rapide</li>
<li>utiliser une source apt: plus complique mais permet un suivis des versions.</li>
</ul>
<h3>./config/chroot_local-packages</h3>
<p>
Copier simplement le .deb dasn ce repertoire il sera automatiquement install&eacute;. Seul restriction lee paquet doit avoir un nom dans sa decription. Tester avec dpkg-name.
</p>

<h3>source APT</h3>
<p>
Methode non documenter ici!<br>
Une des methodes peut etre de rajouter la ligne de depot dans /etc/apt/sources.list
</p>

