<h2>Création d'une image -les bases</h2>
<p>
Toutes les commandes de la rubrique "personnalisation d'une image "sont utilisables de 2 façons:<br>
<ul>
	<li>En ligne de commande. Dans ce cas elle doit être faite dans le répertoire de travail (créer à l'étape précédente) compte utilisateur.</li>
	<li>Dans le fichier de configuration ./auto/config. Dans ce cas il faut ajouter<span style="color:red;"> /</span> à la fin de chaque ligne pour ne faire qu'une seule commande.</li>
</ul>
<div class="noteclassic">
Exemple:
<pre class="coding_user">
lb config --distribution wheezy<span style="color:red;"> /</span>
          --archive-areas "main contrib non-free<span style="color:red;"> /</span>
          etc...
</pre>
</div>
</p>

<h3>inclure un fichier de configuration(cumul):</h3><pre class="coding_user">lb config -c|--conffile FILE</pre>


<!-- ******************************************************** -->
<hr><div class="sectionTitre">Préparer l'image</div>
<div class="noteimportant">Toute la section "Préparer l'image" est d'un haut niveau et est entierement facultative.</div>
<h3>Mode de construction</h3><pre class="coding_user">lb config --mode debian|emdebian|ubuntu</pre>

<h3>Choix du type  de l'image</h3>
<ul>
	<li>iso-hybrid: polyvalente, peut être utilisé sur une machine virtuelle, supports optiques ou un périphérique USB.(defaut)</li>
	<li>iso: pour une image iso (ancienne version de debian 'Lenny' et systeme non Linux.</li>
	<li>hdd: génére lefichier de type '.img' specifique au disque disque dur/usb.</li>
	<li>usb-hdd: génére uniquement les fichier kernel.img,initrd.img et filesystem.squash et non le fichier image .img .</li>
	<li>net : pour un démarrage par le réseau</li>
	<li>tar: ?</li>
</ul>
<pre class="coding_user">lb config -b|--binary iso-hybrid</pre>

Options selon le type d'image:
<ul>
	<li>iso-hybrid
	<ul>
		<li><pre class="coding_user">lb config --isohybrid-options OPTION|"OPTIONS"</pre></li>
	</ul></li>
	<li>iso(cd)
	<ul>
		<li><pre class="coding_user">lb config --iso-application NAME</pre></li>
		<li><pre class="coding_user">lb config --iso-preparer NAME</pre></li>
		<li><pre class="coding_user">lb config --iso-publisher NAME</pre></li>
		<li><pre class="coding_user">lb config --iso-volume NAME</pre></li>
	</ul>
	</li>
</ul>
</p>

<h3>Choix du format du système de fichier</h3>
Pour le binaire:
<pre class="coding_user">lb config --binary-filesystem fat16|fat32|ext2</pre>
La valeur par défaut change le type de l'image et la taille de l'image générer.

Pour le live:
<pre class="coding_user">lb config --chroot-filesystem ext2|ext3|squashfs|plain|jffs2</pre>
<ul>
	<li>plain: aucune fs n'est créer, une copie du fs du binare est utilisée.</li>
</ul>


<h3>Choix du paquetage contenant le système de fichier live</h3>
<p>
<pre class="coding_user">lb config --initramfs auto|none|live-boot|live-initramfs|casper</pre>
<!--
En mode auto il est défini à chaque construction comme suit:
<ul>
	<li> live-boot avec la version stable ;</li>
	<li>casper avec --mode ubuntu;</li>
	<li> live-initramfs avec ?;</li>
</p>
-->

<h3>Chiffrer le système de fichier root</h3>
	<pre class="coding_user">lb config -e|--encryption false|aes128|aes192|aes256</pre>

<h3>Création du fichier md5sums.txt</h3><pre class="coding_user">lb config  --checksums md5|sha1|sha256|none</pre>

<!-- ******************************************************** -->
<hr><div  class="sectionTitre">le bootLoader</div>

<p>
<pre class="coding_user">lb config --bootloader syslinux|grub|yaboot</pre>
<ul>
	<li>syslinux: choix par defaut</li>
	<li>grub: lanceur d'os tres répandu</li>
	<li>yaboot: spécifique sparc</li>
</ul>
<div cass="noteclassic">Sysinux ne supporte que le format du système de fichier FA32T! (à verifier si c'est toujours vrai)</div>
</p>


<h3>sysLinux options</h3>
<p>
Définir l'image de fond:<pre class="coding_user">lb config --syslinux-splash FILE</pre>
Définir le temps(en seconde) avant chargement(0:infini):<pre class="coding_user">lb config --syslinux-timeout SECONDS</pre>
Définir Activation du menu vga:<pre class="coding_user">lb config --syslinux-menu true|false</pre>
</p>
<h3>grub options</h3>
<p>Définir l'image de fond:<pre class="coding_user">lb config --grub-splash FILE</pre></p>

<!-- -------------------------------------------------------- -->
<h3>parametrer le bootloader pour lancer une image à travers le réseau</h3>
<p>
Défini le système de fichier qui sera configuré dasn le bootloader pour votre "l'image réseau":<pre class="coding_user">lb config --net-root-filesystem nfs|cfs</pre>
Ajouter des options pour monter le root du fs dans "l'image réseau" :<pre class="coding_user">lb config --net-root-mountoptions OPTIONS</pre>


Définir l'ip du serveur:<pre class="coding_user">lb config --net-root-server IP|HOSTNAME</pre>
Répertoire où se trouvve le fichier image sur le serveur distant(Par defaut: mode debian -> /srv/debian-live; mode emebian -> /srv/emebian-live; mode ubuntu -> /srv/ubuntu-live):
	<pre class="coding_user">lb config --net-root-path PATH</pre>


Définir le type de fs pour le copy-on-write:<pre class="coding_user">lb config --net-cow-filesystem nfs|cfs</pre>
:<pre class="coding_user">lb config --net-cow-mountoptions OPTIONS</pre>

Définir le chemin du fs client<br>
(
Défaut:vide<br>
Exemple:<br>
 - /export/hosts/client_mac_address<br>
 - /export/hosts/00-16-D3-33-92-E8):<br>
<pre class="coding_user">lb config --net-cow-path PATH</pre>

Paramètre l'ip du systeme Live:<pre class="coding_user">lb config --net-cow-server IP|HOSTNAME</pre>
Préciser le format de compression du fichier-image:<pre class="coding_user">lb config --net-tarball gzip|bzip2|tar|none</pre>
<!--
       --net-root-server IP|HOSTNAME
           sets  the  IP or hostname that will be configured in the bootloader
           configuration for the root filesystem of your netboot  image.  This
           defaults to 192.168.1.1.
       --net-root-path PATH
           sets the file path that will be configured in the  bootloader  con‐
           figuration    for    your   netboot   image.   This   defaults   to
           /srv/debian-live in debian mode and to /srv/emebian-live when being
           in emdebian mode, and /srv/ubuntu-live when in ubuntu mode.

       --net-cow-filesystem nfs|cfs
           defines  the  filesystem  type  for  the  copy-on-write  layer  and
           defaults to nfs.

       --net-cow-mountoptions OPTIONS
           sets additional options for mounting  the  copy-on-write  layer  in
           netboot images and is by default empty.

       --net-cow-path PATH
           defines  the  path  to  client  writable  filesystem. Anywhere that
           client_mac_address is specified in  the  path  live-initramfs  will
           substitute the MAC address of the client delimited with hyphens.

           Example:
           /export/hosts/client_mac_address
           /export/hosts/00-16-D3-33-92-E8

       --net-cow-server IP|HOSTNAME
           sets  the  IP or hostname that will be configured in the bootloader
           configuration for the  copy-on-write  filesystem  of  your  netboot
           image and is by default empty.
       --net-tarball bzip2|gzip|tar|none
           defines  the format of the netboot image. Choosing tar results in a
           not compressed tarball, bzip2 and gzip in a bzip2 resp.  gzip  com‐
           pressed  tarball.  Choosing  none  leads  to no tarball at all, the
           plain binary directory is  considered  the  output  in  this  case.
           Default is gzip.
-->
</p>

<!-- ******************************************************** -->
<hr><div  class="sectionTitre">le bootStrap</div>
<p>
defines which program is  used  to  bootstrap  the  Debian  chroot, default  is debootstrap. Note that if you set the bootstrap program to copy, then your host system is copied. This can be useful if you           want to convert/clone your existing host system into a live system, however, make sure you do have  enough  free  space  as  this  can, depending on your host system, get quite big.
<pre class="coding_user">lb config --bootstrap cdebootstrap|cdebootstrap-static|debootstrap|copy</pre>
<pre class="coding_user">lb config -f|--bootstrap-flavour minimal|standard</pre>
<pre class="coding_user">lb config --bootstrap-keyring PACKAGE</pre>
<pre class="coding_user">lb config </pre>
</p>

<!-- ******************************************************** -->
<hr><div  class="sectionTitre">Installation de logiciel</div>

<h3>Choix de la distribution debian</h3><pre class="coding_user">lb config --distribution wheezy</pre>

<h3>selection d'un ou plusieurs type d'archive</h3>
<pre class="coding_user">
lb config --archive-areas "main contrib"
lb config --archive-areas "main contrib non-free"
</pre>


<h3>Ajout d'une liste de paquet</h3>
<p>
Voir l'étape dédié pour plus d'infos.
<pre class="coding_user">
lb config --packages-lists "liste1 liste2"
<u>ex:</u>
lb config --packages-lists "gnome-core rescue"
</pre>
</p>

<h3>installer un logiciel</h3>
<pre class="coding_user">lb config --packtages "iceweasel filezilla"</pre>

<!-- ******************************************************** -->
<hr><div  class="sectionTitre">Personalisation avancé</div>
<h3>Activer un hook</h3><p>Active un hook disponible dans "/usr/share/live/build/examples/hooks"<pre class="coding_user">lb config --hooks FILE</pre></p>
<h3>Ajout de tâches</h3>
<pre class="coding_user">
	lb config --tasks "task1 task2"
<u>ex:</u>
	lb config --tasks "mail-server file-server"
</pre>
<div class="notetip">Pour connaitre la liste des tâches disponibles<pre class="coding_user">	tasksel  --list-tasks</pre></div>


<!-- ******************************************************** -->
<hr><div  class="sectionTitre">Integrer un installateur debian au live</div>
<p>Cela permet d'installer debian à partir du live.
<pre class="coding_user">lb config --debian-installer true|cdrom|netinst|netboot|businesscard|live|false</pre>
<pre class="coding_user">lb config --debian-installer-distribution daily|CODENAME</pre>
Pour configurer debConf automatiquement:
	<pre class="coding_user">lb config --debian-installer-preseedfile FILE|URL</pre>
Installation en graphique:
	<pre class="coding_user">lb config --debian-installer-gui true|false</pre>
</p>


<!-- ******************************************************** -->
<hr><div  class="sectionTitre">Divers</div>
<h3>debug</h3>
<pre class="coding_user">lb config --debug</pre>

<h3>ouvrir un shell avant la construction de l'image</h3>
(A sa fermeture la construction binaire commencera et toutes les modifications seront inscrit dedans):
	<pre class="coding_user">lb config --interactive shell</pre>

<h3>Supprimer les répertoire vides et fichiers non utilisés du repertoire de configuration(./config)</h3><pre class="coding_user">lb config --clean</pre>

<h3>Ajout de memTest comme choix secondaire dans le menu du bootLoader</h3><pre class="coding_user">lb config --memtest memtest86+|memtest86|none</pre>

<h3>definir le hostname</h3><pre class="coding_user">lb config --hostname debianlive</pre>


<h3>Personalisation de la langue et des composants regionalisés</h3>
<p>
Si vous modifiez la langue, l'environnemnet ne sera pas modifié il faut ajouter les composants individuellement.
Les changement se font à 2 niveaux:
<ul>
	<li>A la construction de l'image (ajout des paquets et configurations)
		<pre class="coding_user">
lb config --tasks "japanese japanese-desktop japanese-gnome-desktop"
ou
lb config --tasks "french french-desktop french-gnome-desktop"	?
lb config --language fr
</pre>
<div class="noteimportant">l'option --language fr est experimental.</div>
	</li>
	<li>Au lancement du live (dans le syslinux)
		<pre class="coding_user">lb config --bootappend-live "locales=fr_FR.UTF-8 keyboard-layouts=fr"</pre>
	</li>
Est équivalent dans <span class="coding_filename">/syslinux/live.conf </span> à:
<pre class="coding_file">append locales=fr_FR.UTF-8 keyboard-layouts=fr</pre>
</ul>
</p>
