<h2>personnalisation d'une image: ajout d'un fichier dans le système de fichiers</h2>
<p>
Inclure un fichier directement dans l'image permet d'ajouter un autorun ou un texte de présentation s'il est ajouter dans le binaire (support) ou de modifier la configuration de programme, wallpaper, etc si il est fait dans le live.
Ne permet pas de configurer tous les programmes 
</p>

<h3>pour modifier le binaire (support)</h3>
<p>
Le repertoire ./config/binary_local-includes/ sera copier (et ecrasera) dans la racine du support.<br>
par exemple:<br>
<ul>
	<li> ./config/binary_local-includes/autorun.bat sera copier dans /autorun.bat (lancement automatique de programme a l'insertion d'un amovible support(cd))</li>
	<li> ./config/binary_local-includes/demos/demos1.avi sera copier dans /demos/demos1.avi</li>
</ul>
</p>


<h3>pour modifier le live</h3>
<p>
Le repertoire ./config/chroot_local-includes/ sera copier dans la racine du live.
<div class="notewarning">les fichiers remplaceront un fichier prexistant de meme nom.(a verifier!)</div>

<div class="notetip">utile pour creer dans le repertoire utilisateur ds fichiers de configuration ou simplement tout elements du systeme.<br>
par exemple:<br>
<ul>
	<li> ./config/chroot_local-includes/etc/skel/.bashrc /etc/skel/.bashrc (squelette appliqué au nouveau utilisateur)</li>
	<li> ./config/chroot_local-includes/etc/hosts.deny sera copier dans /etc/hosts.deny (interdit l'accee venant de machine)</li>
</ul>
</div>
</p>
