<h1>Projet GraspNet<br>
Le Gral Network via Raspberry</h1>

<h3>Projet:</h3>
<p>Créer un réseau à usage prive pour partager des données et applications orientés ludiques et éducatifs, et ce, sans que l'uilisateur ai à configurer son equipement(pc)
</p>

<h3>Contrainte:</h3>
<p>
<ul>
<li>Le systeme doit fonctionner sous raspberry</li>
<li>les utilisateurs n'ont aucune connaissance informatique particuliere. lls ne devront avoir à faire aucune action technique
</ul>
</p>

<h3>Mode minimum:</h3>
<p>
Le mode minimim se compose
<ul>
<li>matériellement:d'une RPI type B, correctement alimenter,et connécté à internet. </li>
<li>logiciellement: du système Raspbian et avec 2 vpn (1 router et 1 bridger)<br>
De plus la box internet devra avoir le port vpn ouvert et pointer vers la RPI
</li>
</ul>
</p>

<h3>Notes sur le vpn:</h3>
<p>
<ul>
<li>2  vpn  coexisteront un routé pour l'adressage ip et un bridgé pour relier en lan les XBox.</li>
<li>les pc des reseaux lan pourront acceder au vpn. De ce faite certain logiciel (serveur audio, etherpad, tableau blanc,pourront etre déporter vers les pc. Le RPI pourra fonctionner sans ecran et ne servir que de passerelle</li>
<li>menu.py sera une interface commune au RPI et pc (faire installe python pour les clients windows)</li>
</ul>
</p>


<h3>Mode standart:</h3>
<p>
<ul>
<li>interface graphique present</lI>
<li>menu.py: menu graphique en python pour les usages courants et certaine tache adminstratives pratiquable par l'utilisateur (liberer espace disque, activation.desatvation daemon(mumble),etc (sudo sans pwd?)</li>
<li>connecté à un écran télévision  : cable HDMI</lI>
<li>suite educatif type gcompris</li>
<li>navigateur internet
<li>client irc</li>
<li>tableau blanc: zone de dessin partagé pour les enfants (chercher solution existante)</li>
<li>editeur de texte collaboratif type etherpad(http://etherpad.org/) (integre ou via net)</li>
</ul>
<ul>
<li>Navigateur installé: ?</li>
<li>lecture des mails</li>
<li>flash?: jeux facebook</li>
</ul>
</ul>
</p>

<h3>Mode avancé:</h3>
<p>
<ul>
<li>serveur upnpAV en utilisation alternative avec l'image de XBMC de _l0l0_</li>
<li>serveur audio: numble(http://mumble.sourceforge.net/)</li>
<li></li>
<li></li>
</ul>
</p>

<h3>Mode augmenté:</h3>
<p>Consiste à utiliser le GPIO pour intéragir avec le monde réel (intervention des utilisateurs, commande éléctronique programable)
<ul>
<li>jeux type question pour un lampion ou le 1er tapant sur un gros bouton rouge desactive les autres</li>
<li>capteur de distance (position) pour faire bouger les gamins</li>
<li>activation par bouton de fonctionalité: envoyer un signal (lumineux/audio à un autre RPI (comme un mesage en attente)</li>
<li>domotique: interface de commande (relai) et activation sous condition; heure, bp,etc) </li>
</ul>
Notes:
Utiliser des broches standart (nappes lecteurs disquettes, nappes plus petites) pour "normaliser" les differents emplacements des extentions pour quelles soient facilement cumulable et/ou interchangeable . (faire detecter par le RPI le type d'extention?)
</p>



<h3>environnement utilisateur</h3>
<p>
<ul>
<li>restriction du 'Bureau': modification interdite</li>
<li>Controler au maximum ses activités: le systeme étant embarque et ayant un but precis il n'est pas concut pour un usage generaliste</li>
<li>bloquer les sites (protection enfant): proxy;redefinition system host(hosts_options),autres...</lI>
<li>bloquage des addons: impossibilité d'en rajouter</li>
<li></li>
<li></li>
</ul>
</p>

<h3>administration:</h3>
<p>
<li>administrable à distance par ssh</li>
<li>suppression des elements inutiles par cron (thumbnail,etc)</li>
<li>systeme de synchronisation des maj des RPI (elt  perso:script, menu.py, etc) ?</li>
<li></li>

</p>

<h3>infos sur la RPI:</h3>
Materiel:
<ul>
<li>2 USB 2.0</li>
<li>not Wake On Lan</li>
<li>bureau graphique: lxde</li>
</ul>
Distribution recommander: Rasbian
<ul>
<li>environnement graphique: LXDE</li>
</ul>

<h3>lien:</h3>
<p>
<ul>
<li>http://keeplogeek.over-blog.com/article-raspberry-pi-installation-sous-raspbian-version-optimisee-de-debian-108871561.html</li>
</ul>
</p>


<h3>:</h3>
<p>
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</p>

<h3>:</h3>
<p>
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</p>

<h3>:</h3>
<p>
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</p>

<h3>:</h3>
<p>
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</p>

<h3>:</h3>
<p>
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</p>

<h3>:</h3>
<p>
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</p>

<h3>:</h3>
<p>
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</p>

