<h2>irc</h2>
<iframe src="http://webchat.freenode.net?channels=legral%2Ccoagul%2COpenDataBourgogne%2C#bourguinux%2C#sequanux%2C#debian-fr%2Cjquery-fr&uio=Mj10cnVlJjk9dHJ1ZSYxMD10cnVl83" width="1000" height="550"></iframe>
<p>lola21 un save link bot :<a href="https://bitbucket.org/black_rez/lola21/">https://bitbucket.org/black_rez/lola21/</a></p>
<p>
Une commande  s'écrit dans le cadre d'envoi standard et commence par /<br>
Les commandes de bases irc:
<ul>
	<li>/quit</li>
	<li>/connect irc.freenode.org : se connecte a un <u>serveur irc</u> ici: irc.freenode.org</li>
	<li>/join #salon  : rejoint un salon. Le diese (#) doit preceder le nm du salon. Le salon est créer si il n'existes pas</li>
	<li>/nick pseudo : change son psudonyme (nickname)</li>
	<li>/msg nickserv REGISTER [Password] [Email] </li>
	<li>/msg NickServ identify <password> : confirmer que l'on est bien le propriétaire du nickname avec le mot de passe</li>
	<li>/away [message] : s'absenter</li>

</ul>
Autres commandes en vracs:
<ul>
	<li>/set term_charset UTF-8 (irssi)</li>
	<li></li>
	<li></li>
	<li></li>
</ul>
</p>

<hr>
<h2>Le réseau du Libre</h2>
<p>
<h3>Abréviation:</h3>
<ul>
<li>H.L.: HackLab (<a target="exterieur" href="http://fr.wikipedia.org/wiki/Hacklab">http://fr.wikipedia.org/wiki/Hacklab</a>)</li>
<li>F.L.: FabLab (<a target="exterieur" href="http://fr.wikipedia.org/wiki/Fablab"></a>)</li>
<li>L.U.G.(<a target="exterieur" href="http://fr.wikipedia.org/wiki/LUG">http://fr.wikipedia.org/wiki/LUG</a>)</li>
</ul>

<h3><a href="http://fr.wikipedia.org/wiki/Liste_des_groupes_d%27utilisateurs_de_Linux_en_France">Liste des groupes d'utilisateurs de Linux en France (L.U.G.)</a></h3>

<p>Bourgogne</p>
<ul>
	<li><a href=http://www.bourguinux.org/">Bourguinux</a></li>
	<li>Cote d'Or
	<ul>
		<li>print.:site: <a target="exterieur" href="http://print.squat.net">http://print.squat.net</a> (espace autogéré des tanneries)</li>
		<li>C.O.A.G.U.L.
		<ul>
			<li>L.U.G.:site:(<a target="exterieur" href="http://coagul.org/">http://coagul.org/</a>) - wiki:(<a target="exterieur" href="http://coagul.org/wiki/">http://coagul.org/wiki/</a>) - irc:(<a href="http://coagul.org/drupal/association/irc">webchat</a>,serveur:freenode;canal:#coagul)</li>	
			<li>H.L.:site:(<a target="exterieur" href="/index.php/Accueil">hacklab.dormeur.net/</a>)</li>	
			<li>F.L./H.L.:site:(<a target="exterieur" href="http://fablab.coagul.org">http://fablab.coagul.org</a>)</li>	
			<li>sites perso des membres
			<ul>
				<li>gnugnux:<a target="blog" href="http://www.gnunux.info>http://www.gnunux.info</a></li>
				<li>dlareg:<a target="blog" href="http://www.dlareg.org/">http://www.dlareg.org/</a></li>
				<li>olivyeahh:<a target="blog" href="http://leblogdolivyeahh.wordpress.com">http://leblogdolivyeahh.wordpress.com</a></li>
				<li>pilatomic:<a target="blog" href="http://pilatomic.free.fr">http://pilatomic.free.fr</a></li>
				<li>Bornholm:<a target="blog" href="http://lookingfora.name">http://lookingfora.name</a></li>
				<li>_1010_:<a target="blog" href="http://dormeur.net">http://dormeur.net</a></li>
			</ul>
			</li>
			<li><a target="exterieur" href="http://bonjour.coagul.org/">gallerie photo</a></li>
		</ul>
		</li>
	</ul>
	</li>
</ul>

<p>Franche-Comté</p>
<ul>
	<li>Doubs
	<ul>
		<li>sequanux
		<ul>
			<li>L.U.G.:site:(<a href="http://sequanux.org/">http://sequanux.org/</a>) - wiki:(<a href="http://wiki.sequanux.org/">http://wiki.sequanux.org/</a>) - irc:(<a href="http://webchat.freenode.net/?channels=sequanux">serveur:freenode;canal:#sequanux</a>)</li>	
			<li>H.L.:?</li>	
			<li>F.L.:?</li>	
		</ul>
	</ul>
	</li>
</ul>
</p>
