<h1>création d'une debian minimal</h1>

<h2>installer la debian via net install</h2>
Télécharger l'<a href="http://www.debian.org/CD/netinst/">image</a> et copier le avec <a href="http://legral.fr/legralNet/legralNet-0.2/?debianLive=image-copier">dd</a> su rune clef usb


<h2>tasksel</h2>
<p>
Lors de la phase tasksel ne sélectionner que:
<ul>
<li>minimal</li>
<li>serveur d'impression</li>
<li>ssh serveur (optionnel)</li>
</ul>
Ne pas sélectionner" environnement graphique" car cela installera gnome-shell (gnome3) et gnome classique (gnome2). C'est a dire beaucoup de paquet inutile.</p>

Les actions suivantes se font une fois le système lancé, connecté en root:
<h2>Installation de x11</h2>
<p>
<div class="code_root">aptitude install xorg-server xinit menu-xdg  menu  menu-l10n</div>
<ul>
<li>xinit: lancement du serveur</li>
<li></li>
<li>menu-xdg: menu au spécificité freedesktop</li>
<li>menu menu </li>
</ul>
</p>

<h2>pilote graphique et d'entrée</h2>
<p>Le plus simple etant de les installé tous: 
<div class="code_root">aptitude install xserver-xorg-video-all xserver-xorg-input-all </div>
Mais comme nous cherchons à faire un système minimal installé le pilote spécifique à vos cartes..
</p>


<h2>gestionnaire de fenetre</h2>
<div class="code_root">aptitude install openbox</div>
<ul>
<li>openbox: le plus léger gestionnaire de fenêtre, semble t'il.(<a href="http://doc.ubuntu-fr.org/openbox">doc</a>)</li>
</ul>


<h2>gestionnaire de fichier</h2>
<div class="code_root">aptitude install mc</div>
<ul>
<li>mc: gestionnaire de fichier en mode console</li>
</ul>


<h2>le multimedia</h2>
<div class="code_root">aptitude install alsamixergui moc</div>
<ul>
<li>alsamixergui: mixer de son pour x</li>
<li>moc: lecteur audio en mode console (mocp pour le lancer)</li>
<li></li>
</ul>

<hr>
Vous avec un système minimal

<h2></h2>
<p>:
<div class="code_root">aptitude install</div>
</p>


