<h2>Abreviation:</h2>
<ul>
<li>H.L.: HackLab (http://fr.wikipedia.org/wiki/Hacklab)</li>
<li>F.L.: FabLab (http://fr.wikipedia.org/wiki/Fablab)</li>
<li>L.U.G.(http://fr.wikipedia.org/wiki/LUG)</li>
</ul>

<h2><a href="http://fr.wikipedia.org/wiki/Liste_des_groupes_d%27utilisateurs_de_Linux_en_France">Liste des groupes d'utilisateurs de Linux en France (L.U.G.)</a></h2>

<p>Bourgogne</p>
<ul>
	<li><a href=http://www.bourguinux.org/">Bourguinux</a></li>
	<li>Cote d'Or
	<ul>
		<li>C.O.A.G.U.L.
		<ul>
			<li>L.U.G.:site:(<a href="http://coagul.org/">http://coagul.org/</a>) - wiki:(<a href="http://coagul.org/wiki/">http://coagul.org/wiki/</a>) - irc:(<a href="http://coagul.org/drupal/association/irc">webchat</a>,serveur:freenode;canal:#coagul)</li>	
			<li>H.L.:site:(<a href="http://hacklab.dormeur.net/">hacklab.dormeur.net/</a>)</li>	
			<li>F.L.:site:(<a href="http://hacklab.dormeur.net/">hacklab.dormeur.net/</a>)</li>	
			<li>sites perso des membres
			<ul>
				<li>dlareg:<a target="blog" href="http://www.dlareg.org/">http://www.dlareg.org/</a></li>
				<li>olivyeahh:<a target="blog" href="http://leblogdolivyeahh.wordpress.com">http://leblogdolivyeahh.wordpress.com</a></li>
			</ul>
			</li>
		</ul>
		</li>
	</ul>
	</li>
</ul>

<p>Franche-Comté</p>
<ul>
	<li>Doubs
	<ul>
		<li>sequanux
		<ul>
			<li>L.U.G.:site:(<a href="http://sequanux.org/">http://sequanux.org/</a>) - wiki:(<a href="http://wiki.sequanux.org/">http://wiki.sequanux.org/</a>) - irc:(<a href="http://webchat.freenode.net/?channels=sequanux">serveur:freenode;canal:#sequanux</a>)</li>	
			<li>H.L.:?</li>	
			<li>F.L.:?</li>	
		</ul>
	</ul>
	</li>
</ul>






