<h2>Le projet SysLinux</h2>
<p>
SysLinuxProject comprend plusieurs logiciels, notamment:
<ul>
	<li>sysLinux: logiciel éponyme qui fonctionne sous 2 modes:
	<ul>
		<li>installe le bootloader à la racine d'un disque (mbr ou partition). Disque au format fat32! Il autodetecte les systèmes installés.</li>
		<li>bootloader: est un équivalent à grub: propose un menu pour sélectionner le système à démarrer (Linux, Windows,etc).</li>
	</ul>
	</li>
	<li>isoLinux: installe syslinux sur un cdrom (et le rend bootable)</li>
	<li>extinux: installe syslinux sur un disque dur (ou clef usb) au format ext2</li>
	<li>pxeLinux: service réseau qui permet de booter à partir du réseau.</li>
</ul>

Le paquet syslinux comporte aussi des programmes(modules), de bas niveau, de
<ul>
	<li>menu graphique:<ul>
		<li>menu.c32: permet un affichage semi-graphique du menu</li>
		<li>vesamenu.c32: permet un affichage graphique (640x480x16)du menu</li>
</ul></li>

	<li>chargement de programme:<ul>
		<li>memdisk: émule un périphérique (floppy,CDROM,DD) pour le PC et monte une image contenant un système de fichier de même type(.img/.Iso) en mémoire</li>
	</ul></li>

	<li>programmes indépendants<ul>
		<li>memTest.c32: vérifie la mémoire (<a target="site_exterieur" href="http://www.memtest.org/">www.memtest.org/</a>)</li>
		<li>Harward Detection Tool: (HDT: analyse précise du matériel  (<a target="site_exterieur" href="http://www.hdt-project.org">www.hdt-project.org</a>)</li>
	</ul></li>
</ul>
</p>


<h3>Le fichier de configuration:</h3>
<p>
 Le fichier de configuration est recherché dans l'ordre suivant:<br>
Pour syslinux/extlinux/isolinux:<br>
<span class="coding_filename">/boot/syslinux/syslinux.cfg</span><br>
<span class="coding_filename">/syslinux/syslinux.cfg</span><br>
<span class="coding_filename">/syslinux.cfg</span><br>
Pour pxelinux:<br>
Cela dépend du serveur tftp (voir le tuto <a href="?page=tutoriels&tutoriels=bootLoader&bootLoader=SYSLinuxProject&sysLinuxProject=PXELinux&PXELinux=tftp&">pxelinux</a>)
</p>

<h3>Suivre les versions</h3>
<p>
SysLinux est un projet actif la version actuelle (en janvier 2014) est la version 5.10. Vous pouvez suivre les nouveautés grâce aux <a target="site_exterieur" href="http://www.syslinux.org/wiki/index.php/Changelog">changeLog</a>.
</p>

<h3>Références:</h3>
<p>
<ul>
	<li><a href="http://www.syslinux.org">http://www.syslinux.org</a></li>
</ul>
</p>