<h2>port parallele</h2>

<a href="http://pinouts.ru/ParallelPorts/ParallelECP_pinout.shtml">http://pinouts.ru/ParallelPorts/ParallelECP_pinout.shtml</a><br>
<img src="/intersites/images/porpart.jpg"><br>

