<h2>syntaxe standard de lancement d'un système</h2>

<div class="noteclassic">Les commandes, ici, n'incorpore pas les ajouts des interfaces graphiques(commande commençant par "menu") , elles sont donc complètement utilisables en mode prompt !</div>
<div class="noteclassic">Les paramètres ne sont pas sensible a la casse.</div>
<pre class="coding_file">
<span class="keyword">label</span> etiquette_interne_sans_espace_ni_caractere_esoterique
	<span class="keyword">kernel</span> fichier du noyau charger.
	<span class="keyword">append</span> parametre pour configurer le noyau
	<span class="keyword">initrd</span> bootstrap: créer un environnement pour le système de fichier (peut dans certain cas contenir le système de fichier)
</pre>
La balise <span class="keyword">label</span> n'a pas de balise de fin. Les entrées <span class="keyword">kernel</span>, <span class="keyword">append</span>, <span class="keyword">initrd</span> peuvent être écrites dans n'importe quel sens.

<h3>Ordre d'exécution:</h3>
<ol>
	<li>le <span class="keyword">kernel</span> est lancé</li>
	<li>modifié par les paramètres <span class="keyword">append</span></li>
	<li>ensuite se fait l'INITialisation du RamDisk (<span class="keyword">initrd</span>) </li>
	<li>qui "boot" sur le périphérique écrit en interne dans le <span class="keyword">initrd</span> ou surchargé par <span class="keyword">append</span>. Ces périphériques peuvent être:
	<ul>
		<li>disque dur/clef USB,cdrom,</il>
		<li>système de fichier compressé à l'intérieur d'un fichier (squashFS, cramFS, etc)</li>
		<li>autres systèmes que je ne connais pas</li>
	</ul></li>
</ol> 


<h3>Exemple:</h3>
<span class="coding_filename">/syslinux.cfg</span> ou<br>
<span class="coding_filename"><span class="fsRoot">/srv/tftp/</span>pxelinux.cfg/default</span>:<pre class="coding_file">
<span class="keyword">label</span>
   <span class="keyword">kernel</span> ./images/linux/debian/vmlinuz
   <span class="keyword">append</span>  ro
   <span class="keyword">initrd</span>  ./images/linux/debian/initrd.img
</pre>

<h3>Explication:</h3>

<h4>Label</h4>
<p>En mode prompt: correspond au texte à entrée pour lancer le menu.<br>
<span class="keyword">Label</span> Un caractère précédé de <span class="keyword">^</span> indique la touche raccourci.<br>
Exemple: <span class="keyword">Label</span> <span class="parametre">Appuie_sur_la_Touche_<span class="keyword">^</span>T_pour_lancer_ce_menu</span>.<br>

</p>

<h4>Kernel</h4>
<p><span class="keyword">kernel</span>: noyau ou application de bas niveau.</p>
<p>
<span class="detailTechniqueHeader" onclick="var id=document.getElementById('dt1');id.style.display=(id.style.display=='block')?'none':'block'; "> détail technique :</span><br>
<div id="dt1" class="detailTechniqueContent">
En plus des images linux le <span class="keyword">kernel</span> supporte les extensions suivantes:
<ul>
	<li>.c32		COM32 image (32-bit COMBOOT)</li>
	<li>.cbt		COMBOOT image (not runnable from DOS)</li>
	<li>.com		COMBOOT image (runnable from DOS)<br></li>

	<li>.bs		Boot sector [SYSLINUX only]</li>
	<li>.bss		Boot sector, DOS superblock will be patched in [SYSLINUX only]<br></li>

	<li>.bin		"CD boot sector" [ISOLINUX only]</li>
	<li>.img		Disk image [ISOLINUX only]<br></li>

	<li>.0		PXE bootstrap program (NBP) [PXELINUX only]</li>
</ul>
<div class="notetip">Les fichiers .iso et .img peuvent être lancés via [sys|iso|pxe]linux.</div>
<!--
</div>
<p>
<span class="detailTechniqueHeader" onclick="var id=document.getElementById('dt2');id.style.display=(id.style.display=='block')?'none':'block'; ">détail technique :</span><br>
<div id="dt2" class="detailTechniqueContent">
-->

Le mot réservé <span class="keyword">kernel</span> peut être remplacé (les mots réservés <span class="keyword">append</span> et <span class="keyword">initrd</span> sont, dans ce cas, souvent absents) par:
<ul>
	<li><span class="keyword">CONFIG</span> <span class="parametre">file</span>             # le menu sera relancer avec le fichier comme nouvelle configuration
	<li><span class="keyword">localboot</span>                #démarre à partir d'un périphérique physique: détail dans la <a href="#diskBoot">section  dédié</a>.</li>
	<li><span class="keyword">LINUX</span> <span class="parametre">image</span>            # kernel linux</li>
	<li><span class="keyword">BOOT</span> <span class="parametre">image</span>            #Bootstrap program (.bs, .bin)</li>
	<li><span class="keyword">BSS</span> <span class="parametre">image</span>               #BSS image (.bss)</li>
	<li><span class="keyword">PXE</span> <span class="parametre">image</span>               #PXE Network Bootstrap Program (.0)</li>
	<li><span class="keyword">FDIMAGE</span> <span class="parametre">image</span>      #Floppy disk image (.img)</li>
	<li><span class="keyword">COMBOOT</span> <span class="parametre">image</span>   #COMBOOT program (.com, .cbt)</li>
	<li><span class="keyword">COM32</span> <span class="parametre">image</span>         # COM32 program (.c32)</li>
</ul></div>
</p>

<h4>append</h4>
<p>
Paramètre de configuration du noyau. (ici ro pour ReadOnly).<br>
Les paramètres disponibles dépendent du noyau/programme appelés.<br>
Pour annuler tous les paramètres hérités:
<pre class="coding_file"><span class="keyword">append</span> <span class="parametre">-</span></pre>
Pour voir les paramètres utilisables par append aller sur cette <a href="?page=tutoriels&tutoriels=bootLoader&bootLoader=SYSLinuxProject&sysLinuxProject=SYSLinux&SYSLinux=appendLinux&">page</a>.
<div class="notetip">Il ne doit y avoir qu'un seul  append dans un même menu. Son absence provoquera un warning au chargement du menu.</div>
</p>

<h4>initrd</h4>
<p>ramdisk à lancer après le kernel (peut avoir plusieurs nom de ficher séparés par une virgule). Ils seront successivement chargé à l'échec du précèdent.</p>

<h3>Syntaxe compact:</h3>
<pre class="coding_file">
<span class="keyword">kernel</span> ./images/linux/debian/vmlinuz
<span class="keyword">append</span>  ro  initrd  ./images/linux/debian/initrd.img 
</pre>

<br><hr>
<a name="fetch"><h3>lancer une image situé sur un serveur web/nfs:</h3></a>

<pre class="coding_file">
<span class="keyword">label</span> loadFetch
	<span class="keyword">kernel</span> images/linux/kernels/debian-3.2-vmlinuz2
	<span class="keyword">append</span> fetch=http://127.0.0.1/images/linux/debianPerso/filesystem.squashfs
	<span class="keyword">initrd</span> images/linux/kernels/debian-3.2-initrd2
</pre>
<div class="notetip">le nom du fichier filesystem.squashfs peut être renommé, ce qui permet d'avoir plusieurs version dans un même répretoire.<br>
ex: debianPerso-1.1-filesystem.squashfs
</div>

<br><hr>
<a name="diskBoot"><h3>Démarrer sur les périphériques physiques:</h3></a>
<div class="syntaxe">local boot <span class="parametre">type</span></div>
type:
<ul>
	<li>isolinux(/syslinux)<ul>
		<li><span class="parametre">0x00</span>:lecteur de disquette</li>
		<li><span class="parametre">0x80</span>:1er disque dur</li>
		<li><span class="parametre">-1</span>:boot sur le périphérique suivant (dans l'ordre de la séquence définit dans le bios). Attention cela peut faire crasher le bios s'il est trop ancien.</li>
	</ul></li>
	<li>pxelinux<ul>
		<li><span class="parametre">0</span>: boot sur le système de disque local</li>

	</ul></li>
</ul>
<pre class="coding_file">
   label bootlocal
      localboot 0

   label bootlocal_hd0
      localboot 0x80
</pre>