<h2>L'interface graphique</h2>

<p>L'interface graphique permet de
<ul>
<li>se déplacer plus agréablement et aisément dans les menus</lI>
<li>mettre une image de fond</lI>
<li>positionner le bloc texte</lI>
<li>mettre de la couleur</lI>
</ul>
<h3>module de menu graphique</h3>
Les modules les plus utilisés sont:
<ul>
<li>menu.c32: menu semi graphique(80x50?). couleurs et positionnement du texte possibe.</lI>
<li>vesamenu.c32: menu complétement graphique (640,480x16), possibilité d'avoir une image en fond.</lI>
</ul>

<h3>Activation</h3>
Pour l'activé un module 2 possibilités:

<p>
<h4>UI</h4>
<div class="coding_file"><span class="keyword">ui</span> menu.c32</div>
<img src="http://www.gentilkiwi.com/docs/serveurs/img_pxe/sample_boot_menu.png">
<img src="http://www.gentilkiwi.com/divers/astuces_pxe/img_vesamenu/menu.png">

<p>ou</p>
<div class="coding_file"><span class="keyword">ui</span> vesamenu.c32</div>
<img src="http://www.gentilkiwi.com/divers/astuces_pxe/img_vesamenu/kiwi_menu.jpg">
</p>

<div class="notetip">Vous remarquerez que l'on ne gagne pas en nombre de caractère affichable mais juste une (meilleur,pour vesamenu.c32) définition d'image.</div>

<p>
<h4>default</h4>
<div class="coding_file"><span class="keyword">default</span> menu.c32</div>
<div class="notewarning">Cette variante est obsolète depuis <span class="version">syslinux 3.74</span> au profit de UI.</div>
</p>


<h3>Références</h3>

<ul>
<li>http://www.syslinux.org/wiki/index.php/Comboot/menu.c32</lI>
<li>http://la-vache-libre.org/des-couleurs-dans-votre-bootloader/</lI>
<li></lI>
</ul>

http://la-vache-libre.org/des-couleurs-dans-votre-bootloader/