<h2>Synopsis</h2>
<p>Une lune est née et morte sans que la cité ne donne signe de vie. Les murmures d'événements sinistres ont atteint les portes de la région, Paris, Venise. Un ennemi s'est-il levé? On rapporte de nombreux bris de Mascarade. L'anarchie règne désormais en plein centre de l'Europe.<br>
<div style="text_align:center;color:red">Mais le chaos est aussi opportunité.</div>
Les ruines sont encore fumantes, et les <span style="text_align:center;color:red">ambitieux</span> de tout bord trépignent d'impatience. La chasse est ouverte ! 
</p>
<p>
Tel est l'intrigue initiale du nouveau jeux de rôle persistent basé sur Vampire - La masquarade.
</p>
<h2>Présentation du jeux</h2>
<p>
Vous découvrirez un <span style="text_align:center;color:red">univers persistant</span>, à mi-chemin entre le jeu de rôle, le grandeur nature et le jeu de société. Évoluant dans le monde réel, vous interagirez avec les autres JOUEURS sur <span style="text_align:center;color:red">vos compétences sociales propres</span>. Votre influence sur les humains sera en revanche précisément codifiée, vous donnant les moyens d’une stratégie politique concrète.<br><br>

Le jeu impliquera des <span style="text_align:center;color:red">actions par mail bien encadrées ouvertes certains soirs uniquement</span>, des excursions en ville à la recherches d’indices et de contacts suivant les indices laissés par les ORGANISATEURS, et la participation à des réunions de clan et aux grands Elysiums qui viendront clôturer chaque scénario.<br><br>

Les joueurs seront répartis en équipes allant de 3 à 5 vampires de la même lignée. <span style="text_align:center;color:red">Leurs disponibilités combinées devront permettre à l’équipe d’être présente sur le terrain en moyenne 2 fois par semaine. Pour les moins disponibles, se concentrer sur le RÉSEAU du personnage est une solution équilibrée</span>.<br><br>

Les scénarios dureront 3 semaines, à raison d’un par mois, ce qui fait que le jeu sera fermé en moyenne 10 jours par mois. Nous prévoyons 5 scénarios, qui formeront un chapitre au terme duquel nous décideront tous ensemble s’il convient d’arrêter, de faire une pause, ou… de continuer, encore et encore !<br><br>

Ce sera pour nous notre troisième expérience d’une telle organisation. Rien ne nous a jamais paru plus immersif dans l’univers du jeu. Soyez toutefois assurés que tout a été pensé pour offrir une expérience de jeu à la fois puissante et compatible avec vos obligations familiales et professionnelles : nous aussi on a une vie !
</p>

<h2>Liens(docs ,etc)</h2>


<ul>
	<li><a target="exterieur" href="http://dijonpraxis.unblog.fr">http://dijonpraxis.unblog.fr</a></li>
	<li><a target="exterieur" href="http://voxsanguinis.wordpress.com/histoire/temps-obscurs">http://voxsanguinis.wordpress.com/histoire/temps-obscurs</a> note sur la conférence de l'épine</li>
</ul>


