
<h1>FACTIONS- OBÉDIENCES</h1>


Les vampires peuvent avoir plusieurs obédiences. Soit ils appartiennent à l’une des deux grandes sectes ennemies que sont le Sabbat et la Camarilla, soit ils sont indépendants. De manière générale, chaque lignée vampirique est associée à l’une de ces obédiences, mais il y a des exceptions au sein de chaque lignée.

 

<h2>CAMARILLA</h2>

Brujah / Gangrel / Malkavien / Nosferatu / Tremere / Toreador / Ventrue

La Camarilla est organisée autour du Cercle Intérieur de Venise, lequel compte un membre puissant et ancien de chacune des lignées qui compose la secte. On voit rarement les Anciens qui siègent à ce Conseil. Leur bras armés sont les 7 Justicars, un par clan, qui s’attachent à faire respecter les 6 Traditions sur les territoires camaristes. Les Justicars sont nommés pour 13 ans. Ils prennent à leur service des Archontes, qui peuvent eux-mêmes s’attacher des Servires. Ils représentent l’autorité supérieure partout où ils se rendent.

Les cités camaristes, appelées Praxis, sont sous l’autorité d’un Prince au pouvoir absolu, conseillé par le Primogène, cercle auquel siège pour chaque clan son membre le plus ancien, également appelé Primogène. Dans les Praxis ou une faction Anarch est présente, le Baron Anarch est admis au Primogène. Parfois également admis, le Prévôt, chargé du maintien de l’ordre et des enquêtes, et le Sénéchal, chargé de l’exécution des peines. Le Prince peut enfin s’adjoindre un Régent, chargé de le remplacer en cas d’indisponibilité.

La relation hiérarchique entre les autorités centrales et les autorités locales ne sont toutefois pas aussi nettes qu’il y paraît. Bien que tirant leur pouvoir d’une instance supérieure, Justicars et Archontes doivent demeurer prudents à l’égard Princes et Primogènes des Praxis qui les accueillent, car l’influence de ceux-ci sur leur territoire compense parfois largement leur déficit de puissance. D’autant plus que certains Princes n’ont rien à envier au Cercle Intérieur en terme de génération.



<h2>SABBAT</h2>

Lasombra / Tzimisce

Le Sabbat est plus libéral dans son organisation que ne l’est la Camarilla. Ses membres sont libres de définir eux-mêmes leurs priorités et se rassemblent en fonction de leurs affinités. Un groupe de sabbatiques poursuivant un même but est appelé une Meute.

Le Sabbat est dirigé à son sommet par la Régente Melinda Galbraith, laquelle a sous ses ordres des Cardinaux, qui coordonnent les actions de la secte sur une région donnée, et des Archevêques, qui dirigent la communauté dans une ville bien définie.

Le Sabbat comprend la quasi intégralité des familles Lasombra et Tzimisce, mais aussi un contingent très importants de vampires appartenant à des factions traditionnellement camaristes : ces derniers sont appelés anti-tribus.



<h2>INDÉPENDANTS</h2>

Assamite / Giovanni / Ravnos / Sethite

Aucune organisation centralisée ne leur est connue.
