<h1>Lexiques</h1>

Ce jeu utilise beaucoup de notion, souvent imbriquer les uns aux autres, voici une vue d'ensemble:

<h3> <a name="Praxis">Praxis</a></h3>
<p>Territoire avec un seigneur qui le contrôle, le plus souvent une ville.</p>

<hr>
<h3> <a name="Attribut">Attribut (d'un perssonnage)</a></h3>
<p>Un personnage à 3 attributs: "la BETE", "le RESEAU" et "la VITAE" plus sa capacité à gérer son REFUGE </p>

<h3> <a name="Caracteristiques">caractéristiques (d'un perssonnage)</a></h3>
<p>Les caractéristiques sont les capacités d'un personnage. Il y en à 9.
6 communs à tous les perso
<ul>
	<li>3 dans l'attribut 'le BETE': ATTAQUE,DEFENSE,INITIATIVE</li>
	<li>3 dans l'attribut 'le RESEAU': ÉTENDUE,EFFICACITÉ,LOYAUTÉ</li>
	<li>3 dans l'attribut VITAE: spécifique au clan du vampire</li>
</ul>

Exemple:<br>
les caractéristiques de l'attribut 'la BETE' sont: ATTAQUE,DEFENSE,INITIATIVE
</p>



<h3> <a name="BETE">la BETE</a></h3>
<p>La BÊTE détermine vos facultés essentielles de combat.</p>

<h3> <a name="RESEAU">le RESEAU</a></h3>
<p>détermine votre influence sur la société humaine.</p>

<h3> <a name="VITAE">la VITAE</a></h3>
<p>détermine votre maîtrise des disciplines vampiriques<br>
</p>

<hr>
<h3> <a name="Caracteristique">Caracteristique (d'un personnage)</a></h3>
<p>Elles sont communes à tous les clans.</p>

<!-- bete -->
<h3> <a name="ATTAQUE">ATTAQUE</a></h3>
<p>Caractéristque associé à la BETE.<br>
détermine votre capacité à infliger des blessures.
</p>

<h3> <a name="DEFENSE">DÉFENSE</a></h3>
<p>Caractéristque associé à la BETE.<br>
détermine votre capacité à éviter les blessures.
</p>

<h3> <a name="INITIATIVE">INITIATIVE</a></h3>
<p>Caractéristque associé à la BETE.<br>
détermine votre capacité à prendre le contrôle du combat.</p>

<!-- reseau -->
<h3> <a name="ÉTENDUE">ÉTENDUE</a></h3>
<p>Caractéristque associé au RESEAU.<br>
détermine le nombre d’actions que vous pouvez effectuer.</p>

<h3> <a name="EFFICACITÉ">EFFICACITÉ</a></h3>
<p>Caractéristque associé au RESEAU.<br>
détermine la qualité des actions que vous pouvez effectuer.</p>

<h3> <a name="LOYAUTÉ">LOYAUTÉ</a></h3>
<p>Caractéristque associé au RESEAU.<br>
détermine la probabilité que vos actions soient bel et bien effectuées.
</p>

<!-- -->
<hr>
<h3> <a name="REFUGE">REFUGE</a></h3>
<p>Détermine votre niveau de protection contre les attaques diurnes. Elle se décompose en trois éléments qui ne sont pas des caractéristiques :<br>
<ul>
	<li>le SECRET, qui détermine la difficulté qu’il y a pour un tiers de le découvrir</li>
	<li>la SÉCURITÉ, qui détermine son niveau de défense en cas d’attaque</li>
	<li>la VEILLE, qui détermine votre capacité à terminer vos actions en cas d’attaque</li>
</ul>
Vous débutez avec:
<ul>
	<li>SECRET:1</li>
	<li>SÉCURITÉ:0</li>
	<li>VEILLE:0</li>
</ul>	
Pour améliorer ce REFUGE ou en changer, vous devrez utiliser les <a href="#NUISANCE">actions de NUISANCE</a> des différentes sphères d’influence.<br>
Les <a href="#pointsExperiences">points d’expériences</a> sont sans effet.
</p>

<h3> <a name="pointsExperiences">points d’expériences</a></h3>
<p>un personnage commence avec 8 points d'experience et peu en gagner à la fion d'un scénario.</p>

<h3> <a name="pouvoir">pouvoir</a></h3>
<p>Capacité spécifiques aux vampires. Il en existe 9</p>

<h3> <a name="discipline">discipline</a></h3>
<p>pouvoir spécifique à une ligné de vampire (clan). Un vampire est limité à 3 disciplines (sur les 9 aexistants)</p>


<!-- -->
<hr>
<h3> <a name=""></a></h3>
<p>.<br>
</p>

<h3> <a name=""></a></h3>
<p></p>

<h3> <a name=""></a></h3>
<p></p>

<!-- -->
<hr>
<h3> <a name=""></a></h3>
<p>.<br>
</p>

<h3> <a name=""></a></h3>
<p></p>

<h3> <a name=""></a></h3>
<p></p>

<!-- -->
<hr>
<h3> <a name=""></a></h3>
<p>.<br>
</p>

<h3> <a name=""></a></h3>
<p></p>

<h3> <a name=""></a></h3>
<p></p>

<!-- -->
<hr>
<h3> <a name=""></a></h3>
<p>.<br>
</p>

<h3> <a name=""></a></h3>
<p></p>

<h3> <a name=""></a></h3>
<p></p>


