<h1>les Anarch (indépendants)</h1>

<p>Aucune organisation centralisée ne leur est connue.</p>

<h2>les factions</h2>

<!--
<a href="?dijonPraxis=dijonPraxis-obediences&dijonPraxis-obediences=obedience-Anarch&obedience-Anarch=Brujah"><img class="logo" title="brujah" src="./0img/brujah.jpg" /><img class="fiche" title="brujah" src="./0img/fiche-brujah.png" /></a>
<a href="?dijonPraxis=dijonPraxis-obediences&dijonPraxis-obediences=obedience-Anarch&obedience-Anarch=Gangrel"><img class="logo" title="gangrel" src="./0img/gangrel.jpg" /><img class="fiche" title="gangrel" src="./0img/fiche-gangrel.png" /></a>
<a href="?dijonPraxis=dijonPraxis-obediences&dijonPraxis-obediences=obedience-Anarch&obedience-Anarch=Malkavien"><img class="logo" title="malkavien" src="./0img/malkavien.jpg" /><img class="fiche" title="malkavien" src="./0img/fiche-malkavien.png" /></a>
<a href="?dijonPraxis=dijonPraxis-obediences&dijonPraxis-obediences=obedience-Anarch&obedience-Anarch=Toreador"><img class="logo" title="toreador" src="./0img/toreador.jpg" /><img class="fiche" title="toreador" src="./0img/fiche-toreador.png" /></a>
<a href="?dijonPraxis=dijonPraxis-obediences&dijonPraxis-obediences=obedience-Anarch&obedience-Anarch=Tremere"><img class="logo" title="tremere" src="./0img/tremere.jpg" /><img class="fiche" title="tremere" src="./0img/fiche-tremere.png" /></a>
<a href="?dijonPraxis=dijonPraxis-obediences&dijonPraxis-obediences=obedience-Anarch&obedience-Anarch=Ventrue"><img class="logo" title="ventrue" src="./0img/ventrue.jpg" /><img class="fiche" title="ventrue" src="./0img/fiche-ventrue.png" /></a>
<a href="?dijonPraxis=dijonPraxis-obediences&dijonPraxis-obediences=obedience-Anarch&obedience-Anarch=Nosferatu"><img class="logo" title="nosferatu" src="./0img/nosferatu.jpg" /><img class="fiche" title="nosferatu" src="./0img/fiche-nosferatu.png" /></a>
<!--
<a href=""><img class="logo" title="" src="./0img/.jpg" /><a href=""><img class="fiche" title="" src="./0img/fiche-.png" /></a>
<a href=""><img class="logo" title="" src="./0img/.jpg" /><a href=""><img class="fiche" title="" src="./0img/fiche-.png" /></a>
<a href=""><img class="logo" title="" src="./0img/.jpg" /><a href=""><img class="fiche" title="" src="./0img/fiche-.png" />
<a href=""><img class="logo" title="" src="./0img/.jpg" /><a href=""><img class="fiche" title="" src="./0img/fiche-.png" /></a>
-->

