<h1>le Sabbat</h1>

<p>
Le Sabbat est plus libéral dans son organisation que ne l’est la Camarilla. Ses membres sont libres de définir eux-mêmes leurs priorités et se rassemblent en fonction de leurs affinités. Un groupe de sabbatiques poursuivant un même but est appelé une <span style="color:red;">Meute</span>.</p>

<p>
Le Sabbat est dirigé à son sommet par la Régente <span style="color:red;">Melinda Galbraith</span>, laquelle a sous ses ordres des <span style="color:red;">Cardinaux</span>, qui coordonnent les actions de la secte sur une région donnée, et des <span style="color:red;">Archevêques</span>, qui dirigent la communauté dans une ville bien définie.</p>

<p>
Le Sabbat comprend la quasi intégralité des familles Lasombra et Tzimisce, mais aussi un contingent très importants de vampires appartenant à des factions traditionnellement camaristes : ces derniers sont appelés <span style="color:red;">anti-tribus</span>.</p>

