<h1>les règles du jeu<br>
Créer son personnage
</h1>

<h2>Le refuge</h2>
<p>Vous démarrer avec un refuge avec les caractéristiques suivantes:

<ul>
        <li>SECRET:&nbsp;&nbsp;1</li>
        <li>SÉCURITÉ:&nbsp;0</li>
        <li>VEILLE:&nbsp;&nbsp;0</li>
</ul>

</p>


<h2>Les caractéristiques</h2>
<p>
Vous avez 8 <b>points d'experiences</b> à répartir dans les <a href="?dijonPraxis=dijonPraxis-regles&&dijonPraxis=lexiques#Caracteristiques">caractéristiques</a> des 3 <a href="?dijonPraxis=dijonPraxis-regles&&dijonPraxis=lexiques#Attribut">attributs</a>("la BETE", "le RESEAU" et "la VITAE") suivants:
(en parenthèse: niveau par défaut).

<span class="exemple">Texte avec cette typo:! exemple</span>

règles d'attributions générales:
<ul>    
	<li>Vous ne pouvez avoir plus de 3 pouvoirs de niveau 1</li>
        <li>Vous débutez avec un score de base de 0 dans chacun des 9 pouvoirs (3 par discipline) qui vous sont ouverts.</li>
        <li> Ceux-ci doivent être tous montés séparément.</li>
	<li>coût en points
	<ul>
		<li>pour les caractéristiques des attributrs "BETE" et "RESEAU"
		<ul>
			<li>1 points pour passer d'un niveau à un autre</li> 
			</ul></li>
			<li>pour les caractéristiques de l'attributrs "VITAE"
			<ul>
				<li>coût en points pour passer du niveau 0 au niveau 1: 1 point.</li>
		                <li>coût en points pour passer du niveau 1 au niveau 2: 2 points.<br>Donc: pour aller jusqu'au niveau 2 il faut dépenser:  1+2= 3 points.</li>
		                <li>coût en points pour passer du niveau 2 au niveau 3: ?</li>
			</ul></li>
		</ul>
                <li><b>Le niveau 3, niveau maximum, n’est pas accessible lors de la création du personnage.</b></li>
        </ul>
</ul>

<ul>
	<li>La BÊTE:
	<ul>
                <li>l’ ATTAQUE (1):<span class="exemple"></span></li>
                <li>la DÉFENSE (1):<span class="exemple">niveau: 2.points dépensées:2</span></li>
                <li>l’ INITIATIVE (1):<span class="exemple"></span</li>
	</ul>
        règles d'attributions:
        <ul>    
                <li>commence avec 1 dans chaque <a href="?dijonPraxis=dijonPraxis-regles&&dijonPraxis=lexiques#Caracteristiques">caractéristiques</a> .</li>
        </ul>   

	</li>

	<li>Le RÉSEAU:
        <ul>
		<li>l’ ÉTENDUE (1):<span class="exemple"></span></li>
	        <li>l’ EFFICACITÉ (1):<span class="exemple">niveau: 2.points dépensées:2</span></li>
	        <li>la LOYAUTÉ (1):<span class="exemple"></span></li>
	</ul>
	règles d'attributions:
        <ul>
		<li>commence avec 1 dans chaque <a href="?dijonPraxis=dijonPraxis-regles&&dijonPraxis=lexiques#Caracteristiques">caractéristiques</a>.</li>
	</ul>
	</li>
	

	<li>La VITAE:
        <ul>
                <li>disciplines 1(0): Animalisme:
		<ul>
			<li>PRAESIDIO ANIMALIS(0):<span class="exemple">niveau:2.points dépensées:3 (niv1=1pts + niv2=2pts)</span></li>
			<li>CURIOSI ANIMALES(0):</li>
			<li>SOCIUS ANIMALIS(0):</li>
		</ul></li>
                <li>disciplines 2(0):Endurance
		<ul>
			<li>PUGNA CAUTA(0):</li>
			<li>SALUS SOLIDA(0):</li>
			<li>SALUS PERENNIS(0):</li>
		</ul></li>
                <li>disciplines 3(0):Proteisme
		<ul>
			<li>MUTATIO BELLICA(0):</li>
			<li>MUTATIO INANIMA(0):<span class="exemple">niveau:1.points dépensées:1</span></li>
			<li>MUTATIO ANIMALIS(0):</li>
		</ul></li>
	</ul>
	</li>



</ul>

</p>

