<h3>langage de programmation - python - références</h3>
<ul>
	<li><a target="doc" href="http://www.python.org/doc/">http://www.python.org/doc/</a></li>
	<li><a target="doc" href="http://www.inforef.be/swi/download/apprendre_python3.pdf">http://www.inforef.be/swi/download/apprendre_python3.pdf</a></li>
	<li><a target="doc" href="http://www.pythonfrance.com">http://www.pythonfrance.com</a></li>
</ul>

