Projet Debian Live - LIVE-CONFIG(7)

<h3 class="h3Hight">NOM</h3>
       <p>live-config - Scripts de configuration du système</p>


<h3 class="h3Hight">DESCRIPTION</h3>
        <p>live-config contient les scripts chargés de configurer le système Debian Live lors du processus de démarrage (late userspace).</p>


<h3 class="h3Hight">CONFIGURATION</h3>
 <p>live-config peut être configuré en utilisant des paramètres d'amorçage ou des fichiers de configuration. Si ces deux mécanismes sont utilisés pour certaines options, les paramètres d'amorçage sont prioritaires sur les fichiers de configuration. Lorsque l'on utilise la persistance, les scripts live-config  ne  sont  lancés  qu'une seule fois.<br>

Pour configurer les paramètres de <span class="keyword">live-config</span> utilisés par défaut dans une image live, consultez l'option <span class="keyword">--bootappend-live</span> dans la page de manuel lb_config(1)</p>


  <h4> Paramètres d'amorçage (scripts)</h4>
 <p>live-config est uniquement activé si '<span class="keyword">boot=live</span>' est utilisé en tant que paramètre d'amorçage. Additionnellement, <span class="keyword">live-config</span> a besoin d'être informé des scripts qui seront lancés via le paramètre '<span class="keyword">live-config</span>' ou de ceux qui ne doivent  pas  être  lancés  via  en  utilisant  le  paramètre  '<span class="keyword">live-noconfig</span>'.<br>
Si  '<span class="keyword">live-config</span>' et '<span class="keyword">live-noconfig</span>' sont utilisés, ou, si l'un d'eux est spécifié plusieurs fois, c'est toujours le dernier qui a la préséance sur ceux qui précèdent.</p>


<h5><span class="keyword">live-config</span> | <span class="keyword">config</span></h5>
Tous les scripts sont lancés. C'est la configuration par défaut des images Debian Live.</p>

<h5><span class="keyword">live-config</span>=SCRIPT1,SCRIPT2, ... SCRIPTn | <span class="keyword">config</span>=SCRIPT1,SCRIPT2, ... SCRIPTn </h5>
<p>Seuls  les  scripts  spécifiés sont lancés. Notez que leur ordre importe, ainsi 'live-config=sudo,user-setup' ne peut pas fonctionner tant que l'utilisateur configuré pour utiliser sudo n'a pas été créé. Regardez les noms des scripts dans /lib/live/config pour les ordonner numériquement.</p>

<h5><span class="keyword">live-noconfig</span> | noconfig</h5>
<p>Aucun script n'est lancé. Celà revient au même que de n'utiliser ni 'live-config' ni 'live-noconfig'.</p>

<h5><span class="keyword">live-noconfig</span>=SCRIPT1,SCRIPT2, ... SCRIPTn | noconfig=SCRIPT1,SCRIPT2, ... SCRIPTn</h5>
<p>Tous les scripts sont lancés, à l'exception de ceux spécifiés.</p>


  <h4>Paramètres d'amorçage (options)</h4>
<p>Quelques scripts particuliers peuvent changer leur comportement sur un paramètre d'amorçage.</p>

 <h5><span class="keyword">live-config.debconf-preseed</span>=filesystem|medium|URL1|URL2| ... |URLn | <span class="keyword">debconf-preseed</span>=medium|filesystem|URL1|URL2| ... |URLn</h5>
 <p>Permet de chercher et d'appliquer un ou plusieurs fichiers de préconfiguration debconf à la base de données debconf. Notez que  les  URLs  doivent  pouvoir  être utilisées par wget (http, ftp or file://).<br>
           Si le fichier est placé dans le média live, il peut être utilisé avec <span class="filename">file:///lib/live/mount/medium/FILE</span>, ou bien avec file:///FILE</span> s'il est placé à la racine du système de fichiers du système live.
           Tous les fichiers de préconfiguration dans <span class="filename">/lib/live/config-preseed/</span> dans le système de fichiers racine du système live peuvent être automatiquement activés avec le mot clé '<span class="keyword">filesystem</span>'.<br>
           Tous les fichiers de préconfiguration dans <span class="filename">/live/config-preseed/</span> du média live peuvent être automatiquement activés avec le mot clé '<span class="keyword">medium</span>'<br>
           Si  plusieurs mécanismes sont combinés, les fichiers de pré-configuration du système de fichiers sont appliqués en premier, alors les fichiers de pré-configuration du média et enfin les fichiers de pré-configuration du réseau.</p>

 <h5><span class="keyword">live-config.hostname</span>=NOM_D_HÔTE | hostname=NOM_D_HÔTE</h5>
 <p>Permet de spécifier un nom d'hôte (hostname) au système. Par défaut ce nom est 'debian'.</p>

 <h5><span class="keyword">live-config.username</span>=NOM_D_UTILISATEUR | username=NOM_D_UTILISATEUR</h5>
 <p>Permet de spécifier le login du user créé pour l'auto-login. Par défaut ce nom est 'user' (et son mot de passe 'live').</p>

<h5><span class="keyword">live-config.user-default-groups</span>=GROUP1,GROUP2 ... GROUPn | user-default-groups=GROUP1,GROUP2 ... GROUPn</h5>
 <p>Permet de spécifier les groupes par défaut des utilisateurs qui sont créés pour l'auto-login. Le défaut est 'audio cdrom dip floppy video plugdev netdev powerdev scanner bluetooth'.</p>

 <h5><span class="keyword">live-config.user-fullname</span>="NOM_COMPLET_D_UTILISATEUR" | user-fullname="NOM_COMPLET_D_UTILISATEUR"</h5>
 <p>Permet de spécifier le nom complet des utilisateurs créés pour l'auto-login. Par défaut il s'agit de 'Debian Live user'.</p>

 <h5><span class="keyword">live-config.locales</span>=LOCALISATION1,LOCALISATION2 ... LOCALISATIONn | locales=LOCALISATION1,LOCALISATION2 ... LOCALISATIONn</h5>
 <p>Permet  de  spécifier  la localisation du système, par exemple 'fr_FR.UTF-8'. Par défaut il s'agit de 'en_US.UTF-8'. Dans le cas où la locale spécifiée n'est pas nativement disponible sur le système, elle est automatiquement générée à la volée.</p>

 <h5><span class="keyword">live-config.timezone</span>=TIMEZONE | timezone=TIMEZONE</h5>
 <p>Permet de spécifier la timezone du système, par exemple 'Europe/Paris'. Par défaut il s'agit de 'UTC'.</p>

 <h5><span class="keyword">live-config.keyboard-model</span>=MODELE_DE_CLAVIER | keyboard-model=MODELE_DE_CLAVIER</h5>
 <p>Permet de changer le modèle de clavier. Aucune valeur par défaut n'est indiquée.</p>

 <h5><span class="keyword">live-config.keyboard-layouts</span>=CONFIGURATION1_DU_CLAVIER,CONFIGURATION2_DU_CLAVIER ... CONFIGURATIONn_DU_CLAVIER |  keyboard-layouts=CONFIGURATION1_DU_CLAVIER,CONFIGURATION2_DU_CLAVIER ... CONFIGURATIONn_DU_CLAVIER</h5>
<p>Permet  de  changer la configuration du clavier. Si plus d'une configuration est spécifiée, les utilitaires de l'environnement de bureau permettront de passer de l'une à l'autre sous X11. Aucune valeur par défaut n'est spécifiée.</p>

 <h5><span class="keyword">live-config.keyboard-variants</span>=KEYBOARD_VARIANT1,KEYBOARD_VARIANT2 ... KEYBOARD_VARIANTn | keyboard-variants=KEYBOARD_VARIANT1,KEYBOARD_VARIANT2 ... KEYBOARD_VARIANTn</h5>
 <p>Permet de changer la variante du clavier. Si plus d'une est spécifiée, le même nombre de valeurs doivent être spécifiées car elles se correspondront  une  à  une dans  l'ordre  spécifié. On peut utiliser valeurs vides. Les outils de l'environnement de bureau permettront de passer de l'une à l'autre sous X11. Aucune valeur par défaut n'est spécifiée.</p>

 <h5><span class="keyword">live-config.keyboard-options</span>=OPTIONS_DU_CLAVIER | keyboard-options=OPTIONS_DU_CLAVIER</h5>
 <p>Permet de changer les options du clavier. Aucune valeur par défaut n'est spécifiée.</p>

 <h5><span class="keyword">live-config.sysv-rc</span>=SERVICE1,SERVICE2 ... SERVICEn | sysv-rc=SERVICE1,SERVICE2 ... SERVICEn</h5>
 <p>Permet de désactiver des services du sysv via update-rc.d.</p>

 <h5><span class="keyword">live-config.utc</span>=yes|no | utc=yes|no</h5>
 <p>Permet de modifier si le système assume, ou non, que l'horloge hardware soit réglée sur UTC. Par défaut 'oui'.</p>

 <h5><span class="keyword">live-config.x-session-manager</span>=X_SESSION_MANAGER | x-session-manager=X_SESSION_MANAGER</h5>
 <p>Permet de spécifier le x-session-manager via update-alternatives.</p>

 <h5><span class="keyword">live-config.xorg-driver</span>=DRIVER_PAR_XORG | xorg-driver=DRIVER_PAR_XORG</h5>
 <p>Permet  de  spécifier  le  pilote  utilisé  par  xorg  plutôt  que  d'utiliser  l'auto-détection.  Si  un  ID  PCI   est   spécifié   dans   /usr/share/live/config/xserver-xorg/DRIVER.ids dans le système live, le DRIVER est appliqué pour ces appareils. Si un paramètre d'amorçage et un override sont trouvés à la fois, le paramètre de démarrage est prioritaire.</p>

 <h5><span class="keyword">live-config.xorg-resolution</span>=RESOLUTION_PAR_XORG | xorg-resolution=RESOLUTION_PAR_XORG</h5>
 <p>Permet de spécifier la résolution utilisée par xorg, plutôt que d'utiliser l'auto-détection, par example 1024x768.</p>

 <h5><span class="keyword">live-config.hooks</span>=filesystem|medium|URL1|URL2| ... |URLn | hooks=URL1|URL2| ... |URLn</h5>
 <p>Permet de chercher et d'exécuter un ou plusieurs fichiers/scripts spécifiques. Notez que les URLs doivent pouvoir être utilisées par wget (http, ftp or file://), que  les  fichiers  sont  exécutés  dans /tmp sur le système live, et que les dépendances éventuelles des fichiers doivent être préalablement installées; si vous devez en effet exécuter un script python, vous devez préalablement installer sur le système l'interpréteur python. Quelques modèles  (hooks)  pour  certains cas d'utilisation sont proposés dans <span class="filename">/usr/share/doc/live-config/examples/hooks/</span> et sur <<span class="filename">http://live.debian.net/other/hooks</span>>.<br>
Si le fichier est placé dans le média live, il peut être utilisé avec file:///lib/live/mount/medium/FILE, ou bien avec file:///FILE s'il est placé à la racine du système de fichiers du système live.<br>
Tous les hooks, placés dans /lib/live/config-hooks/ à la racine du système de fichiers, peuvent être automatiquement activés avec le mot clé '<span class="keyword">filesystem</span>'.<br>
Tous les hooks dans /live/config-hooks/ du média live peuvent être automatiquement activés avec le mot clé 'medium'.<br>
Si plusieurs mécanismes sont combinés, alors les hooks du système de fichiers sont exécutés prioritairement, suivis des hooks du media, et  enfin  des  hooks  du réseau.</p>


<h4>Paramètres d'amorçage (raccourcis)</h4>
 <p>Dans le cas où il est nécessaire de combiner plusieurs paramètres individuels, live-config fournit des raccourcis. Il permet de mixer facilement plusieurs options.</p>


 <h5><span class="keyword">live-config.noroot</span> | noroot</h5>
 <p>Désactive sudo et policykit, dans ce cas l'utilisateur ne peut pas obtenir des privilèges d'administrateur (root) sur le système.</p>

 <h5><span class="keyword">live-config.nottyautologin</span> | noautologin</h5>
 <p>Désactive l'auto-login sur la console et l'auto-login graphique.</p>

 <h5><span class="keyword">live-config.nottyautologin</span> | nottyautologin</h5>
 <p>Désactive l'auto-login sur la console, mais ne concerne pas l'auto-login graphique.</p>

 <h5><span class="keyword">live-config.nox11autologin</span> | nox11autologin</h5>
 <p>Désactive l'auto-login avec les gestionnaires graphiques, sans affecter l'auto-login en console (tty).</p>


<h4>Paramètres d'amorçage (options particulières)</h4>
 <p>Pour certains cas d'utilisation, il existe des paramètres de démarrage spécifiques.</p>

 <h5><span class="keyword">live-config.debug</span> | debug</h5>
 <p>Active les messages de débug dans live-config.</p>


  <h4>Fichiers de configuration</h4>
 <p>live-config  peut  être configuré (mais pas activé) par certains fichiers de configuration. Tout, sauf les touches de raccourcis qui peuvent être configurées avec un paramètre d'amorçage, peut être alternativement configuré via un ou plusieurs fichiers. Si des fichiers de configuration sont utilisés, le paramètre 'boot=live'  est toujours requis pour activer live-config.<br>

 <p>Les  fichiers  de  configuration  peuvent  être placés soit dans la racine du système de fichiers (/etc/live/config.conf, /etc/live/config/*), soit sur le média live (live/config.conf, live/config/*). Si ces deux endroits sont utilisés pour une même option, ceux placés dans le média live ont la préséance sur ceux placés  dans  la racine du système.<br>

Bien  que  les  fichiers de configuration placés dans les répertoires conf.d ne requièrent pas de nom ou suffixe particulier, il est suggéré, par souci de cohérence, d'utiliser 'vendeur.conf' ou 'projet.conf' en tant que modèle de nommage ('vendeur' ou 'projet' étant remplacés par  le  nom  réel  issu  du  nom  de  fichier  comme 'debian-eeepc.conf').<br>

Le contenu réel des fichiers de configuration se compose d'une ou plusieurs des variables suivantes.</p>

<span class="coding_filename">/etc/live/config.conf</span>, <span class="coding_filename">/etc/live/config/*</span>
 <pre class="coding_file">
       LIVE_CONFIGS=SCRIPT1,SCRIPT2, ... SCRIPTn
           Cette variable correspond au paramètre 'live-config=SCRIPT1,SCRIPT2, ... SCRIPTn'.

       LIVE_NOCONFIGS=SCRIPT1,SCRIPT2, ... SCRIPTn
           Cette variable correspond au paramètre 'live-noconfig=SCRIPT1,SCRIPT2, ... SCRIPTn'.

       LIVE_DEBCONF_PRESEED=filesystem|medium|URL1|URL2| ... |URLn
           Cette variable correspond au paramètre 'live-config.debconf-preseed=filesystem|medium|URL1|URL2| ... |URLn'.

       LIVE_HOSTNAME=NOM_D_HÔTE
           Cette variable correspond au paramètre 'live-config.hostname=NOM_D_HÔTE'.

       LIVE_USERNAME=NOM_D_UTILISATEUR
           Cette variable correspond au paramètre 'live-config.username=NOM_D_UTILISATEUR'.

       LIVE_USER_DEFAULT_GROUPS=GROUP1,GROUP2 ... GROUPn
           Cette variable correspond au paramètre 'live-config.user-default-groups="GROUP1,GROUP2 ... GROUPn"'

       LIVE_USER_FULLNAME="NOM_COMPLET_D_UTILISATEUR"
           Cette variable correspond au paramètre 'live-config.user-fullname="NOM_COMPLET_D_UTILISATEUR"'.

       LIVE_LOCALES=LOCALISATION1,LOCALISATION2 ... LOCALISATIONn
           Cette variable correspond au paramètre 'live-config.locales=LOCALISATION1,LOCALISATION2 ... LOCALISATIONn'.

       LIVE_TIMEZONE=TIMEZONE
           Cette variable correspond au paramètre 'live-config.timezone=TIMEZONE'.

       LIVE_KEYBOARD_MODEL=MODELE_DE_CLAVIER
           Cette variable correspond au paramètre 'live-config.keyboard-model=MODELE_DE_CLAVIER'.

       LIVE_KEYBOARD_LAYOUTS=CONFIGURATION1_DU_CLAVIER,CONFIGURATION2_DU_CLAVIER ... CONFIGURATIONn_DU_CLAVIER
           Cette variable correspond au paramètre 'live-config.keyboard-layouts=CONFIGURATION1_DU_CLAVIER,CONFIGURATION2_DU_CLAVIER ... CONFIGURATIONn_DU_CLAVIER'.

       LIVE_KEYBOARD_VARIANTS=KEYBOARD_VARIANT1,KEYBOARD_VARIANT2 ... KEYBOARD_VARIANTn
           Cette variable correspond au paramètre 'live-config.keyboard-variants=CONFIGURATION1_DU_CLAVIER,CONFIGURATION2_DU_CLAVIER ... CONFIGURATIONn_DU_CLAVIER'.

       LIVE_KEYBOARD_OPTIONS=OPTIONS_DU_CLAVIER
           Cette variable correspond au paramètre 'live-config.keyboard-options=OPTIONS_DU_CLAVIER'.

       LIVE_SYSV_RC=SERVICE1,SERVICE2 ... SERVICEn
           Cette variable correspond au paramètre 'live-config.sysv-rc=SERVICE1,SERVICE2 ... SERVICEn'.

       LIVE_UTC=yes|no
           Cette variable correspond au paramètre 'live-config.utc=yes|no'.

       LIVE_X_SESSION_MANAGER=X_SESSION_MANAGER
           Cette variable correspond au paramètre 'live-config.x-session-manager=X_SESSION_MANAGER'.

       LIVE_XORG_DRIVER=DRIVER_PAR_XORG
           Cette variable correspond au paramètre 'live-config.xorg-driver=DRIVER_PAR_XORG.

       LIVE_XORG_RESOLUTION=RESOLUTION_PAR_XORG
           Cette variable correspond au paramètre 'live-config.xorg-resolution=RESOLUTION_PAR_XORG'.

       LIVE_HOOKS=filesystem|medium|URL1|URL2| ... |URLn
           Cette variable correspond au paramètre 'live-config.hooks=filesystem|medium|URL1|URL2| ... |URLn'.
</pre>

<h3 class="h3Hight">CUSTOMISATION</h3>
 <p>live-config peut être facilement personnalisé pour des projets dérivés, ou pour un usage local.</p>


   <h4>Ajout de nouveaux scripts de configuration</h4>
 <p>Les projets dérivés peuvent utiliser leurs propres scripts dans /lib/live/config et n'ont besoin de rien d'autre, les scripts seront appelés lors du démarrage.</p>

 <p>Il est préférable que les scripts soient mis dans leur propre paquet Debian. Un simple paquet contenant un script d'exemple est proposé dans /usr/share/doc/live-config/examples.</p>


   <h4>Enlever des scripts de configuration existants</h4>
 <p>Il n'est pas vraiment possible d'enlever sans problème les scripts sans avoir besoin d'utiliser un paquet live-config modifié localement ou à l'aide de  dpkg-divert.<br>
Cependant,  on peut réaliser une chose similaire en désactivant les scripts respectifs via le mécanisme live-noconfig, comme indiqué ci-dessus. Afin d'éviter d'avoir à spécifier les scripts désactivés avec le paramètre d'amorçage, vous devriez utiliser un fichier de configuration, voir ci-dessus.<br>

Les fichiers de configuration pour le système live devront de préférence être inclus dans leur propre paquet debian. Un simple paquet contenant un exemple de configuration est proposé dans /usr/share/doc/live-config/examples.</p>


<h3 class="h3Hight">SCRIPTS</h3>
 <p>live-config actuellement à les scripts suivants dans <span class="filename">/lib/live/config</span>.</p>


<div class="keyword">debconf</div>
<p>permet d'appliquer fichiers de préconfiguration arbitraires placés sur les médias live ou un serveur http/ftp.</p>

       <div class="keyword">hostname</div>
 <p>configure /etc/hostname et /etc/hosts.</p>

       <div class="keyword">user-setup</div>
 <p>ajoute un compte d'utilisateur live.</p>

       <div class="keyword">sudo</div>
 <p>offre les privilèges sudo à l'utilisateur live.</p>

       <div class="keyword">locales</div>
 <p>configure les locales.</p>

       <div class="keyword">locales-all</div>
 <p>configure les locales-all.</p>

       <div class="keyword">tzdata</div>
 <p>configure /etc/timezone.</p>

       <div class="keyword">gdm</div>
 <p>configure l'auto-login dans gdm.</p>

       <div class="keyword">gdm3</div>
 <p>configure l'auto-login dans gdm3 (squeeze et plus récent).</p>

       <div class="keyword">kdm</div>
 <p>configure l'auto-login dans kdm.</p>

       <div class="keyword">lightdm</div>
 <p>configure l'auto-login dans lightdm.</p>

       <div class="keyword">lxdm</div>
 <p>configure l'auto-login dans lxdm.</p>

       <div class="keyword">nodm</div>
 <p>configure l'auto-login dans nodm.</p>

       <div class="keyword">slim</div>
 <p>configure l'auto-login dans slim.</p>

       <div class="keyword">xinit</div>
 <p>configure l'auto-login avec xinit.</p>

 <p>keyboard-configuration
           configure le clavier.</p>

       <div class="keyword">sysvinit</div>
 <p>configure sysvinit.</p>

       <div class="keyword">sysv-rc</div>
 <p>configure sysv-rc en désactivant les services listés.</p>

       <div class="keyword">login</div>
 <p>désactive lastlog.</p>

       <div class="keyword">apport</div>
 <p>désactive apport.</p>

       <div class="keyword">gnome-panel-data</div>
 <p>désactive le bouton de verrouillage de l'écran.</p>

       <div class="keyword">gnome-power-manager</div>
 <p>désactive l'hibernation.</p>

       <div class="keyword">gnome-screensaver</div>
 <p>désactive le verrouillage de session par l'économiseur d'écran.</p>

       <div class="keyword">kaboom</div>
 <p>désactive l'assistant de migration de KDE (squeeze et plus récent).</p>

       <div class="keyword">kde-services</div>
 <p>désactive des services de KDE non souhaités (squeeze et plus récent).</p>

       <div class="keyword">debian-installer-launcher</div>
 <p>ajoute l'installeur (debian-installer-launcher) sur le bureau des utilisateurs.</p>

       <div class="keyword">module-init-tools</div>
 <p>charge automatiquement certains modules sur certaines architectures.</p>

       <div class="keyword">policykit</div>
 <p>accorde à l'utilisateur des privilèges via le policykit.</p>

       <div class="keyword">sslcert</div>
 <p>regénère les certificats ssl.</p>

       <div class="keyword">update-notifier</div>
 <p>désactive update-notifier.</p>

       <div class="keyword">anacron</div>
 <p>désactive anacron.</p>

       <div class="keyword">util-linux</div>
 <p>désactive util-linux' hwclock.</p>

       <div class="keyword">login</div>
 <p>désactive lastlog.</p>

      <div class="keyword">xserver-xorg</div>
 <p>configure xserver-xorg.</p>

       <div class="keyword">ureadahead (seulement ubuntu)</div>
 <p>désactive ureadahead.</p>

       <div class="keyword">openssh-server</div>
 <p>regénère les clés de l'hôte openssh-server.</p>

       <div class="keyword">xfce4-panel</div>
 <p>configure xfce4-panel avec les réglages par défaut.</p>

       <div class="keyword">hooks</div>
 <p>permet de lancer des commandes arbitraires d'un script placé sur le média live, ou sur un serveur http/ftp.</p>


<h3 class="h3Hight">FICHIERS</h3>
       /etc/live/config.conf

       /etc/live/config/*

       live/config.conf

       live/config/*

       /lib/live/config.sh

       /lib/live/config/

       /var/lib/live/config/

       /var/log/live/config.log

       /live/config-hooks/*

       live/config-hooks/*

       /live/config-preseed/*

       live/config-preseed/*


<h3 class="h3Hight">VOIR AUSSI</h3>
       live-boot(7)

       live-build(7)

       live-tools(7)


<h3 class="h3Hight">PAGE D'ACCUEIL</h3>
       Plus   d'informations   sur  live-config  et  le  project  Debian  Live  peuvent  être  trouvées  sur  la  page  <http://live.debian.net/>  et  dans  le  manuel  sur
       <http://live.debian.net/manual/>.</p>


<h3 class="h3Hight">BUGS</h3>
       Les bugs peuvent être signalés en soumettant un rapport de bug à propos du paquet live-config via le Debian Bug Tracking System sur <http://bugs.debian.org/>  ou  en
       envoyant un mail à la Debian Live mailing list à <debian-live@lists.debian.org>


<h3 class="h3Hight">AUTEUR</h3>
       live-config a été conçu par Daniel Baumann <daniel@debian.org>.



3.0.23-1                                                                         25.04.2013                                                                   LIVE-CONFIG(7)
</pre>
