.integral
	{
	margin:0;
	border:1px dotted blue;border-radius:5px;
	padding:20px;
	background:url('');
	}

.tdf_livre
	{
	width:90%;
	min-height:3em;
	margin:0 auto;
	border:1px solid blue;
	-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
	background-color:#55cd5e;
	padding:0.5em;
	}
.tdf_livre_titre
	{
	font-weight:bold;
	}

.tdf_livre_synops_content,.tdf_livre_resume_content
	{display:none;width:90%;min-height:1em;margin:0 auto;background-color:#55cd5e;padding:0.5em;text-decoration:none;}

.tdf_livre_resume_content
	{border:1px solid blue;border-radius:10px;}

.tdf_livre_synops_titre,.tdf_livre_resume_titre	{display:inline;}

.tdf_livre_synops_titre									{display:inline}
/*.tdf_livre_synops_titre:hover								{text-decoration:underline;}*/
.tdf_livre_synops_titre:hover .tdf_livre_synops_content		{display:block;}
.tdf_livre_synops_content,	.tdf_livre_synops_content:hover	{text-decoration:none;}

.tdf_livre_resume_titre									{display:inline}
/*.tdf_livre_resume_titre:hover								{text-decoration:underline;}*/
.tdf_livre_resume_titre:hover .tdf_livre_resume_content		{display:block;}
.tdf_livre_resume_content,	.tdf_livre_resume_content:hover	{text-decoration:none;}

p.tdf_chapitre{text-align:justify;text-decoration:none;}
p.tdf_chapitre span{font-weight:bold;color:green;}
p.tdf_chapitre span:after{content:": "}
p.tdf_chapitre:first-letter{font-weight:bold;}

