<h2> Debian Live Project - LIVE-BOOT(7)</h2>


<h3>NAME</h3>
       <p>live-boot - System Boot Scripts </p>


<h3>DESCRIPTION</h3>
        <p>live-boot contains the scripts that configure a Debian Live system during the boot process (early userspace).

       live-boot is a hook for the initramfs-tools, used to generate a initramfs capable to boot live systems, such as those created by live-helper(7). This includes the Debian Live isos, netboot tarballs, and usb stick images.
<br>
       At  boot  time  it will look for a (read-only) media containing a "/live" directory where a root filesystems (often a compressed filesystem image like squashfs) is stored. If found, it will create a writable environment,
       using aufs, for Debian like systems to boot from.</p>


<h3>CONFIGURATION</h3>
        <p>live-boot can be configured through a boot parameter or a configuration file.
<br>
       To configure the live-boot parameters used by default in a live image, see the --bootappend-live option in the lb_config(1) manual page.</p>


   <h4>Kernel Parameters</h4>
        <p>live-boot is only activated if 'boot=live' was used as a kernel parameter.<br>
       In addition, there are some more boot parameters to influence the behaviour, see below.</p>


   <h4>Configuration Files</h4>
        <p>live-boot can be configured (but not activated) through configuration files. Those files can be placed either in the root filesystem itself (/etc/live/boot.conf, /etc/live/boot/*), or on the live  media  (live/boot.conf,
       live/boot/*).</p>


<h3 class="h3Hight">OPTIONS</h3>
        <p>live-boot currently features the following parameters.

       <h4>access=ACCESS</h4>
            <p>Set  the  accessibility level for physically or visually impaired users. ACCESS must be one of v1, v2, v3, m1, or m2. v1=lesser visual impairment, v2=moderate visual impairment, v3=blindness, m1=minor motor difficul‐
           ties, m2=moderate motor difficulties.</p>

       <h4>console=TTY,SPEED</h4>
            <p>Set the default console to be used with the "live-getty" option. Example: "console=ttyS0,115200"</p>

<h3>debug</h3>

       <h4>debug</h4>
            <p>Makes initramfs boot process more verbose.<br>
           Use: debug=1<br>
           Without setting debug to a value the messages may not be shown.</p>

      <h4>quickreboot</h4>
            <p>This option causes live-boot to reboot without attempting to eject the media and without asking the user to remove the boot media.</p>

       <h4 name="#silent">silent</h4>
            <p>If you boot with the normal quiet parameter, live-boot hides most messages of its own. When adding silent, it hides all.</p>


<h3>squashfs</h3>
       <h4 name="#fetch">fetch=URL</h4>

       <h4>httpfs=URL</h4>
            <p>Another form of netboot by downloading a squashfs image from a given url.  The fetch method copies the image to ram and the httpfs method uses fuse and httpfs2 to mount the image in place.  Copying  to  ram  requires
           more  memory  and might take a long time for large images. However, it is more likely to work correctly because it does not require networking afterwards and the system operates faster once booted because it does not require to contact the server anymore.<br>
           Due to current limitations in busybox's wget and DNS resolution, an URL can not contain a hostname but an IP only.<br>
           Not working: http://example.com/path/to/your_filesystem.squashfs<br>
           Working: http://1.2.3.4/path/to/your_filesystem.squashfs<br>
           Also note that therefore it's currently not possible to fetch an image from a namebased virtualhost of an httpd if it is sharing the ip with the main httpd instance.<br>
           You may also use the live iso image in place of the squashfs image.</p>

       <h4>iscsi=server-ip[,server-port];target-name</h4>
            <p>Boot from an iSCSI target that has an iso or disk live image as one of its LUNs. The specified target is searched for a LUN which looks like a live media. If you use the iscsitarget  software  iSCSI  target  solution which is packaged in Debian your ietd.conf might look like this:<br>
           <pre># The target-name you specify in the iscsi= parameter
           Target <target-name>
             Lun 0 Path=<path-to-your-live-image.iso>,Type=fileio,IOMode=ro
             # If you want to boot multiple machines you might want to look at tuning some parameters like
             # Wthreads or MaxConnections</pre></p>

       <h4>findiso=/PATH/TO/IMAGE</h4>
            <p>Look for the specified ISO file on all disks where it usually looks for the .squashfs file (so you don't have to know the device name as in fromiso=....).</p>

       <h4>fromiso=/PATH/TO/IMAGE</h4>
            <p>Allows to use a filesystem from within an iso image that's available on live-media.</p>


       <h4>verify-checksums</h4>
            <p>If specified, an MD5 sum is calculated on the live media during boot and compared to the value found in md5sum.txt found in the root directory of the live media.</p>

       <h4>ignore_uuid</h4>
            <p>Do not check that any UUID embedded in the initramfs matches the discovered medium. live-boot may be told to generate a UUID by setting LIVE_GENERATE_UUID=1 when building the initramfs.</p>

       <h4>verify-checksums</h4>
            <p>If specified, an MD5 sum is calculated on the live media during boot and compared to the value found in md5sum.txt found in the root directory of the live media.</p>



<h3>reseau</h3>
       <h4 name="#ip">ip=[DEVICE]:[CLIENT_IP]:[NETMASK]:[GATEWAY_IP]:[NAMESERVER] [,[DEVICE]:[CLIENT_IP]:[NETMASK]:[GATEWAY_IP]:[NAMESERVER]]</h4>
            <p>Let you specify the name(s) and the options of the interface(s) that should be configured at boot time. Do not specify this if you want to use dhcp (default). It will be changed in a future release to mimick official kernel boot param specification (e.g. ip=10.0.0.1::10.0.0.254:255.255.255.0::eth0,:::::eth1:dhcp).</p>

       <h4>ip=[frommedia]</h4>
            <p>If this variable is set, dhcp and static configuration are just skipped and the system will use the (must be) media-preconfigured /etc/network/interfaces instead.</p>

       <h4 name="#netboot">netboot[=nfs|cifs]</h4>
            <p>This  tells  live-boot to perform a network mount. The parameter "nfsroot=" (with optional "nfsopts="), should specify where is the location of the root filesystem.  With no args, will try cifs first, and if it fails nfs.</p>

       <h4>nfsopts=</h4>
            <p>This lets you specify custom nfs options.

<h3>gestion des disques</h3>
       <h4 name="#nofastboot">nofastboot</h4>
            <p>This parameter disables the default disabling of filesystem checks in /etc/fstab. If you have static filesystems on your harddisk and you want them to be checked at boot time, use this parameter, otherwise  they  are skipped.<br>
Désactive le démarrage rapide qui consiste à ne pas faire les vérification des disques contenant dans /etc/fstab.</p>

       <h4 name="#noeject">noeject</h4>
            <p>Do not prompt to eject the live medium.</p>

       <h4>swapon</h4>
            <p>This parameter enables usage of local swap partitions.</p>

       <h4>showmounts</h4>
            <p>This parameter will make live-boot to show on "/" the ro filesystems (mostly compressed) on "/lib/live". This is not enabled by default because could lead to problems by applications like "mono"  which  store  binary  paths on installation.</p>


<h3>/live et squashfs</h3>
       <h4>{live-media|bootfrom}=DEVICE</h4>
            <p>If you specify one of this two equivalent forms, live-boot will first try to find this device for the "/live" directory where the read-only root filesystem should reside. If it did not find something usable, the normal scan for block devices is performed.<br>
           Instead  of  specifing  an  actual device name, the keyword 'removable' can be used to limit the search of acceptable live media to removable type only. Note that if you want to further restrict the media to usb mass storage only, you can use the 'removable-usb' keyword.</p>

       <h4>live-media-path=PATH</h4>
            <p>Sets the path to the live filesystem on the medium. By default, it is set to '/live' and you should not change that unless you have customized your media accordingly.</p>

       <h4>{live-media-encryption|encryption}=TYPE</h4>
            <p>live-boot will mount the encrypted rootfs TYPE, asking the passphrase, useful to build paranoid live systems :-). TYPE supported so far are "aes" for loop-aes encryption type.</p>

       <h4>live-media-offset=BYTES</h4>
            <p>This way you could tell live-boot that your image starts at offset BYTES in the above specified or autodiscovered device, this could be useful to hide the Debian Live iso or image inside another iso or image, to create "clean" images.</p>

       <h4>live-media-timeout=SECONDS</h4>
            <p>Set the timeout in seconds for the device specified by "live-media=" to become ready before giving up.</p>

       <h4>module=NAME</h4>
            <p>Instead of using the default optional file "filesystem.module" (see below) another file could be specified without the extension ".module"; it should be placed on "/live" directory of the live medium.</p>

       <h4>netboot[=nfs|cifs]</h4>
            <p>This  tells  live-boot to perform a network mount. The parameter "nfsroot=" (with optional "nfsopts="), should specify where is the location of the root filesystem.  With no args, will try cifs first, and if it fails nfs.</p>

       <h4>nfsopts=</h4>
            <p>This lets you specify custom nfs options.


       <h4>ramdisk-size</h4>
            <p>This  parameters  allows  to set a custom ramdisk size (it's the '-o size' option of tmpfs mount). By default, there is no ramdisk size set, so the default of mount applies (currently 50% of available RAM). Note that
           this option has no currently no effect when booting with toram.</p>


<h3>persistence</h3>

       <h4>nopersistence</h4>
            <p>disables the "persistence" feature, useful if the bootloader (like syslinux) has been installed with persistence enabled.</p>

       <h4 name="#persistence">persistence</h4>
            <p>live-boot will probe devices for persistence media. These can be partitions (with the correct GPT name), filesystems (with the correct label) or image files (with the correct file name).  Overlays  are  labeled/named "persistence" (see persistence.conf(5)). Overlay image files have extensions which determines their filesystem, e.g. "persistence.ext4".</p>

       <h4>persistence-encryption=TYPE1,TYPE2 ... TYPEn</h4>
            <p>This  option  determines  which  types  of  encryption  that  we  allow  to be used when probing devices for persistence media. If "none" is in the list, we allow unencrypted media; if "luks" is in the list, we allow LUKS-encrypted media. Whenever a device containing encrypted media is probed the user will be prompted for the passphrase. The default value is "none".</p>

       <h4>persistence-media={removable|removable-usb}</h4>
            <p>If you specify the keyword '<span class="keyword">removable</span>', live-boot will try to find persistence partitions on removable media only. Note that if you want to further restrict the media to usb mass storage only, you can use the '<span class="keyword">removable-usb</span>' keyword.</p>

       <h4>persistence-method=TYPE1,TYPE2 ... TYPEn</h4>
            <p>This option determines which types of persistence media we allow. If "overlay" is in the list, we consider overlays (i.e. "live-rw" and "home-rw"). The default is "overlay".</p>

       <h4>persistence-path=PATH</h4>
            <p>live-boot  will  look  for  persistency files in the root directory of a partition, with this parameter, the path can be configured so that you can have multiple directories on the same partition to store persistency files.</p>

       <h4>persistence-read-only</h4>
            <p>Filesystem changes are not saved back to persistence media. In particular, overlays and netboot NFS mounts are mounted read-only.</p>

       <h4>persistence-storage=TYPE1,TYPE2 ... TYPEn</h4>
            <p>This option determines which types of persistence storage to consider when probing for persistence media. If "filesystem" is in the list, filesystems with matching labels will be used; if "file" is in the  list,  all filesystems will be probed for archives and image files with matching filenames. The default is "file,filesystem".</p>

       <h4 name="#persistencelabel" >persistence-label=LABEL</h4>
            <p>live-boot  will  use  the  name  "LABEL"  instead  of "persistence" when searching for persistent storage. LABEL can be any valid filename, partition label, or GPT name. This option replaces the less flexible persistent-subtext option from version 2 of live-boot. If you wish to continue using legacy names for persistent storage, use the full name with this option, e.g. persistence-label=live-rw-foo</p>

       <h4>union=aufs|unionfs</h4>
            <p>By default, live-boot uses aufs. With this parameter, you can switch to unionfs.</p>


<h3>divers</h3>

       <h4>todisk=DEVICE</h4>
            <p>Adding  this parameter, live-boot will try to copy the entire read-only media to the specified device before mounting the root filesystem. It probably needs a lot of free space. Subsequent boots should then skip this step and just specify the "live-media=DEVICE" boot parameter with the same DEVICE used this time.</p>

       <h4>toram</h4>
            <p>Adding this parameter, live-boot will try to copy the whole read-only media to the computer's RAM before mounting the root filesystem. This could need a lot of ram, according to the space used by the read-only media.</p>

       <h4>access=ACCESS</h4>
            <p>Set  the  accessibility level for physically or visually impaired users. ACCESS must be one of v1, v2, v3, m1, or m2. v1=lesser visual impairment, v2=moderate visual impairment, v3=blindness, m1=minor motor difficul‐
           ties, m2=moderate motor difficulties.</p>

       <h4>console=TTY,SPEED</h4>
            <p>Set the default console to be used with the "live-getty" option. Example: "console=ttyS0,115200"</p>



<h3>FILES (old)</h3>
       <h4>/etc/live.conf</h4>
            <p>Some variables can be configured via this config file (inside the live system).</p>

       <h4>live/filesystem.module</h4>
            <p>This optional file (inside the live media) contains a list of white-space or carriage-return-separated file names corresponding to disk images in the "/live" directory. If this file exists, only  images  listed  here  will  be  merged  into  the root aufs, and they will be loaded in the order listed here. The first entry in this file will be the "lowest" point in the aufs, and the last file in this list will be on the "top" of the aufs, directly below /overlay.  Without this file, any images in the "/live" directory are loaded in alphanumeric order.</p>

<h3>FILES</h3>
<ul>
       <li>/etc/live/boot.conf</li>

       <li>/etc/live/boot/*</li>

       <li>live/boot.conf</li>

       <li>live/boot/*</li>

       <li>persistence.conf</li>
</ul>

<h3>SEE ALSO</h3>
       <ul>
       <li>persistence.conf(5</li>)

        <li>live-build(7)</li>

        <li>live-config(7)</li>

       <li> live-tools(7)</li>
</ul>


<h3>HOMEPAGE</h3>
        <p>More information about live-boot and the Debian Live project can be found on the homepage at <http://live.debian.net/> and in the manual at <http://live.debian.net/manual/>.</p>


<h3>BUGS</h3>
        <p>Bugs can be reported by submitting a bugreport for the live-boot package in  the  Debian  Bug  Tracking  System  at  <http://bugs.debian.org/>  or  by  writing  a  mail  to  the  Debian  Live  mailing  list  at  <debian-live@lists.debian.org>.</p>


<h3>AUTHOR</h3>
        <p>live-boot was written by Daniel Baumann <daniel@debian.org> for the Debian project.</p>

3.0.1-1                                                                                                      2013-02-14                                                                                                LIVE-BOOT(7)
