<h2>Réréferences</2>
<ul>
<li><a target="exterieur" href="http://fr.wikipedia.org/wiki/LXC">http://fr.wikipedia.org/wiki/LXC</a></lI>
<li><a target="exterieur" href="https://wiki.archlinux.org/index.php/Linux_Containers">https://wiki.archlinux.org/index.php/Linux_Containers</a></lI>
<li><a target="exterieur" href="http://en.gentoo-wiki.com/wiki/LXC</a>http://en.gentoo-wiki.com/wiki/LXC">http://en.gentoo-wiki.com/wiki/LXC</a>http://en.gentoo-wiki.com/wiki/LXC</a></lI>
<li><a target="exterieur" href="http://www.webstrat.fr/blog/web-technology/virtualisation-avec-lxc">http://www.webstrat.fr/blog/web-technology/virtualisation-avec-lxc</a></lI>
<li><a target="exterieur" href="http://collilieux.net/doc/lxc">http://collilieux.net/doc/lxc</a></lI>
<li><a target="exterieur"  href="http://lxc.sourceforge.net/man/lxc.html">http://lxc.sourceforge.net/man/lxc.html</a></lI>
<li><a href="exterieur" href=""></a></lI>
</ul>